<ion-header>
  <ion-item class="app-ion-item">
    <ion-col size="9">
      <ion-title class="ion-text-center app-ion-title">{{ title }}</ion-title>
    </ion-col>
    <ion-col size="1">
    </ion-col>
    <ion-col size="2">
      <!-- <ion-button class="app-ion-button" fill="clear" (click)="onParams()">
        <ion-icon slot="icon-only" name="key" class="app-ion-icon"></ion-icon>
      </ion-button>
      <ion-button class="app-ion-button" fill="clear" (click)="onReloadAncestor()">
        <ion-icon slot="icon-only" name="document" class="app-ion-icon"></ion-icon>
      </ion-button> -->
      <ion-button class="app-ion-button" fill="clear" (click)="uploadLocalImage()">
        <ion-icon slot="icon-only" name="share" class="app-ion-icon"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">

    <ion-card-header class="card-header">
      &nbsp;{{ 'CONTACT_INFO' | translate }}
    </ion-card-header>

    <ion-row class="app-ion-row">
      <ion-col size="8">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'CONTACT_UPLOAD_MSG' | translate }}</ion-label>
      </ion-col>
      <ion-col size="2">
        <!-- <input type="file" (change)="uploadJson($event)" title=" " accept=".json"/> -->
        <input type="file" (change)="uploadImage($event)" title=" " accept=".jpg"/>
      </ion-col>
      <ion-col size="2">
        <ion-button class="app-ion-button" fill="clear">
          <ion-icon name="share" class="contact-icon"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="app-ion-row">
      <ion-col size="8">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'READ_ARCHIVE' | translate }}</ion-label>
      </ion-col>
      <ion-col size="2">
        <input type="file" (change)="uploadJson($event, 'archive')" title=" " accept=".json"/>
      </ion-col>
      <ion-col size="2">
        <ion-button class="app-ion-button" fill="clear">
          <ion-icon name="share" class="contact-icon"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

</ion-content>
