<ion-header>
  <ion-item class="app-ion-item">
    <ion-col size="1">
    </ion-col>
    <ion-col size="6">
      <ng-select #ngSelectComponent
        [appendTo]="'body'"
        [items]="people | async" 
        bindLabel="name"
        notFoundText="{{selectPeopleNotFoundText}}"
        placeholder="{{selectPeoplePlaceholder}}"
        [(ngModel)]="selectPeople"
        (close)="close()"
        (clear)="clear()"
        (search)="search($event)"
        (keyup)="keyup($event, 'people')">
      </ng-select>
    </ion-col>
    <ion-col size="2">
    </ion-col>
    <ion-col size="3">
      <ion-button class="app-ion-button" fill="clear" (click)="onHome()">
        <ion-icon slot="icon-only" name="home" class="app-ion-icon"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-item>

  <div *ngIf="searchView">
    <ion-item class="app-ion-item">
      <ion-col size="1">
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label><b>{{searchPercent}}</b></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2">
      </ion-col>
      <ion-col size="3">
        <ion-button class="app-ion-button" fill="clear" [disabled]="searchDisabled" (click)="nextSearch()">
          <ion-icon slot="icon-only" name="arrow-down-circle" class="app-ion-icon"></ion-icon>
        </ion-button>
        <ion-button class="app-ion-button" fill="clear" [disabled]="searchDisabled" (click)="prevSearch()">
          <ion-icon slot="icon-only" name="arrow-up-circle" class="app-ion-icon"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-item>
    </div>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <div class="app-ion-content">
    <div [ngStyle]="getZoomStyle()">
      <ft-tree (onLeafSelected)="onLeafSelected($event)" [family]="family"></ft-tree>
    </div>
  </div>
</ion-content>