<ion-header>
  <ion-item class="header-top">
    <ion-col size="12" class="heading">
      <span class="label">{{ header }}</span>
    </ion-col>
  </ion-item>
	<ion-item class="header-bottom">
    <ion-col size="6" class="heading" (click)="onCancel()">
      <ion-button class="button" fill="clear">
        <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}close-circle-outline.svg" class="icon"></ion-icon>
      </ion-button>
      <span class="label">{{ 'CANCEL' | translate }}</span>
    </ion-col>
    <ion-col size="6">
    </ion-col>
  </ion-item>

</ion-header>

<ion-content class="ion-padding">

  <ion-item class="popover-heading" (click)="onEdit()">
    <ion-col size="2" class="center">
      <ion-icon class="icon" src="{{FONTS_FOLDER}}account-edit-outline.svg" ></ion-icon>
    </ion-col>
    <ion-col size="10">
      <ion-label class="label">{{ 'NODE_POPOVER_EDIT' | translate }}</ion-label>
    </ion-col>
  </ion-item>

  <ion-item *ngIf="isAddOK" class="popover-heading" (click)="onAdd()">
    <ion-col size="2" class="center">
      <ion-icon class="icon" src="{{FONTS_FOLDER}}account-plus-outline.svg" ></ion-icon>
    </ion-col>
    <ion-col size="10">
      <ion-label class="label">{{ 'NODE_POPOVER_ADD' | translate }}</ion-label>
    </ion-col>
  </ion-item>

  <ion-item *ngIf="isAddBranchOK" class="popover-heading" (click)="onAddBranch()">
    <ion-col size="2" class="center">
      <ion-icon class="icon" src="{{FONTS_FOLDER}}account-plus-outline.svg" ></ion-icon>
    </ion-col>
    <ion-col size="10">
      <ion-label class="label">{{ 'NODE_POPOVER_ADD_BRANCH' | translate }}</ion-label>
    </ion-col>
  </ion-item>

  <ion-item *ngIf="isDeleteOK" class="popover-heading" (click)="onDelete()">
    <ion-col size="2" class="center" >
      <ion-icon class="icon" src="{{FONTS_FOLDER}}account-remove-outline.svg" ></ion-icon>
    </ion-col>
    <ion-col size="10">
      <ion-label class="label">{{ 'NODE_POPOVER_DELETE' | translate }}</ion-label>
    </ion-col>
  </ion-item>

</ion-content>
