<ion-header>
	<ion-item class="app-header" *ngIf="!ftTreeService.isMobilePlatform()">
		<ion-col size="2" class="heading" (click)="onCancel()">
      <ion-button class="button" fill="clear" (click)="onCancel()">
        <ion-icon slot="icon-only" class="icon" src="{{FONTS_FOLDER}}close-circle-outline.svg" ></ion-icon>
      </ion-button>
      <span class="label"><b>{{ 'CANCEL' | translate }}</b></span>
    </ion-col>
    <ion-col size="2" class="heading">
      <span class="label"><b>{{ title }}</b></span>
    </ion-col>
		<ion-col size="3" class="heading" (click)="onJPEG()">
      <ion-button class="button" title="{{ JPEG }}" fill="clear" (click)="onJPEG()">
        <ion-icon slot="icon-only" class="icon" src="{{FONTS_FOLDER}}file-jpg-box.svg"></ion-icon>
      </ion-button>
      <span class="label"><b>{{ TREE_POPOVER_PRINT_JPEG }}</b></span>
    </ion-col>
    <ion-col size="3" class="heading" (click)="onPDF()">
      <ion-button class="button" title="{{ PDF }}" fill="clear" (click)="onPDF()">
        <ion-icon slot="icon-only" class="icon" src="{{FONTS_FOLDER}}file-pdf-box.svg"></ion-icon>
      </ion-button>
      <span class="label"><b>{{ TREE_POPOVER_PRINT_PDF }}</b></span>
    </ion-col>
		<ion-col size="1" class="heading">
			<ion-button class="button" fill="clear" (click)="ftTreeService.onZoomIn()">
				<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}magnify-minus-outline.svg" class="icon"></ion-icon>
			</ion-button>
		</ion-col>
		<ion-col size="1" class="heading">
			<ion-button class="button" fill="clear" (click)="ftTreeService.onZoomOut()">
				<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}magnify-plus-outline.svg" class="icon"></ion-icon>
			</ion-button>
		</ion-col>
  </ion-item>

	<ion-item class="app-header" *ngIf="ftTreeService.isMobilePlatform()">
		<ion-col size="3" class="heading" (click)="onCancel()">
      <ion-button class="button" fill="clear" (click)="onCancel()">
        <ion-icon slot="icon-only" class="icon" src="{{FONTS_FOLDER}}close-circle-outline.svg" ></ion-icon>
      </ion-button>
      <span class="label"><b>{{ 'CANCEL' | translate }}</b></span>
    </ion-col>
    <ion-col size="5" class="heading">
      <span class="label">{{ title }}</span>
    </ion-col>
		<ion-col size="2" class="heading" (click)="onJPEG()">
      <ion-button class="button" title="{{ JPEG }}" fill="clear" (click)="onJPEG()">
        <ion-icon slot="icon-only" class="icon" src="{{FONTS_FOLDER}}file-jpg-box.svg"></ion-icon>
      </ion-button>
      <span class="label"><b>{{ TREE_POPOVER_PRINT_JPEG }}</b></span>
    </ion-col>
    <ion-col size="2" class="heading" (click)="onPDF()">
      <ion-button class="button" title="{{ PDF }}" fill="clear" (click)="onPDF()">
        <ion-icon slot="icon-only" class="icon" src="{{FONTS_FOLDER}}file-pdf-box.svg"></ion-icon>
      </ion-button>
      <span class="label"><b>{{ TREE_POPOVER_PRINT_PDF }}</b></span>
    </ion-col>
  </ion-item>

</ion-header>

<ion-content [fullscreen]="true">

	<div class="screen-node" id="full-tree">
    <div [ngStyle]="ftTreeService.getZoomStyle()" id="screen">
      <ft-tree (onLeafSelected)="onLeafSelected($event)" [family]="familyView" [view]="viewMode" [class]="treeClass"></ft-tree>
    </div>
  </div>

</ion-content>