<ion-header>
  <ion-item class="app-ion-item">
    <ion-col size="12">
      <ion-title class="ion-text-center app-ion-title">{{ title }}</ion-title>
    </ion-col>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <div class="app-ion-content">

    <ion-card-header class="card-header">
      &nbsp;{{ 'CONTACT_INFO' | translate }}
    </ion-card-header>

    <ion-row class="app-ion-row">
      <ion-col size="10">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'CONTACT_VERSION' | translate }}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-button class="app-ion-button" fill="clear" (click)="onVersion()">
          <!-- <ion-icon name="key" class="contact-icon"></ion-icon> -->
          <ion-icon src="../../assets/fonts/list-status.svg" class="contact-icon"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-grid class="contact-grid" *ngIf="versionMode">
      <ion-row>
        <ion-col size="6">
          {{ 'CONTACT_VERSION_ITEM' | translate }}
        </ion-col>
        <ion-col size="6">
          {{ 'CONTACT_VERSION_DATA' | translate }}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let row of versionResults">
        <ion-col size="6"> {{ row.item }} </ion-col>
        <ion-col size="6"> {{ row.data }} </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row class="app-ion-row">
      <ion-col size="10">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'CONTACT_CONTRIBUTION' | translate }}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-button class="app-ion-button" fill="clear" (click)="onContribution()">
          <!-- <ion-icon name="people" class="contact-icon"></ion-icon> -->
          <ion-icon src="../../assets/fonts/account-multiple-outline.svg" class="contact-icon"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-grid class="contact-grid" *ngIf="contMode">
      <ion-row>
        <ion-col size="2">
          {{ 'CONTACT_DATE' | translate }}
        </ion-col>
        <ion-col size="4">
          {{ 'CONTACT_NAME' | translate }}
        </ion-col>
        <ion-col size="6">
          {{ 'CONTACT_DETAIL' | translate }}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let row of contResults">
        <ion-col size="2"> {{ row.date }} </ion-col>
        <ion-col size="4"> {{ row.name }} </ion-col>
        <ion-col size="6">
          <div [innerHtml]="row.message"></div>
          <!-- <ion-label class="ion-text-wrap">{{ row.detail }}</ion-label> -->
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row class="app-ion-row">
      <ion-col size="12">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'CONTACT_CONTACT' | translate }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-card-header class="card-header">
      &nbsp;{{ 'CONTACT_TREE' | translate }}
    </ion-card-header>
    <ion-row class="app-ion-row">
      <ion-col size="10">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'CONTACT_RESET_MSG' | translate }}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-button class="app-ion-button" fill="clear" (click)="resetTree()">
          <!-- <ion-icon name="refresh-circle" class="contact-icon"></ion-icon> -->
          <ion-icon src="../../assets/fonts/origin.svg" class="contact-icon"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="app-ion-row">
      <ion-col size="10">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'CONTACT_COMPARE_MSG' | translate }}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-button class="app-ion-button" fill="clear" (click)="compareTree()">
          <!-- <ion-icon name="git-compare" class="contact-icon"></ion-icon> -->
          <ion-icon src="../../assets/fonts/compare-horizontal.svg" class="contact-icon"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-grid class="contact-grid" *ngIf="compareMode && compareResults.length == 0">
      <ion-row>
        <ion-col size="12">
          &#8226;&ensp;{{ 'CONTACT_DATA_NOT_CHANGED' | translate }}
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="contact-grid" *ngIf="compareMode && compareResults.length > 0">
      <ion-row>
        <ion-col size="2">
          {{ 'CONTACT_NAME' | translate }}
        </ion-col>
        <ion-col size="2">
          {{ 'CONTACT_ITEM' | translate }}
        </ion-col>
        <ion-col size="4">
          {{ 'CONTACT_OLD_VALUE' | translate }}
        </ion-col>
        <ion-col size="4">
          {{ 'CONTACT_NEW_VALUE' | translate }}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let row of compareResults">
        <ion-col size="2"> {{ row.name }} </ion-col>
        <ion-col size="2"> {{ row.item | translate }} </ion-col>
        <ion-col size="4"> {{ row.old }} </ion-col>
        <ion-col size="4"> {{ row.new }} </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row class="app-ion-row">
      <ion-col size="10">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'CONTACT_SEND_MSG' | translate }}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-button class="app-ion-button" fill="clear" (click)="saveTree()">
          <ion-icon src="../../assets/fonts/email-arrow-right-outline.svg" class="contact-icon"></ion-icon>
          <!-- <ion-icon name="share" class="contact-icon"></ion-icon> -->
        </ion-button>
      </ion-col>
    </ion-row>

  </div>
</ion-content>