<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-title size="large" class="ion-text-center">{{ 'PHAN_FAMILY_TREE' | translate }}</ion-title> -->
    <ion-title size="medium" class="ion-text-center">{{ 'PHAN_FAMILY_TREE' | translate }} - {{appVersion}} - {{familyVersion}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- <ion-card>
    <ion-card-header class="card-header">
      {{ 'VERSION' | translate }}
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>{{ version }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-header class="card-header">
      {{ 'TREE_UPDATE_HEADER' | translate }}
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-button (click)="saveTree()"><ion-icon name="save"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="card-header">
      {{ 'CONTACT' | translate }}
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>{{ contact }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>