.scroll-1 {
	overflow: auto;
}

.ion-grid-1 {
  // border:1px solid green;
  height:300px;
	width: 600px;
}

.headers {
	// color: #454f63;
	color: #3880ff;
	// font-family: "Open Sans";
	font-weight: bold;
	font-size: 14px;
	margin-top: 10px;
	word-wrap: break-word;
	background-color: #f0f1f2;
// Fixed Header
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.border,
.single-border {
	border-bottom: 2px solid #989898;

}

.single-border {
	padding-top: 12px;

}

.content {
	color: #454f63;
	// font-family: "Open Sans";
	font-size: 14px;
}
