<ion-tabs>

  <ion-tab-bar slot="top">

    <ion-tab-button tab="tab1">
      <div class="tab-button-center">
        <ion-icon name="home" class="tab-icon"></ion-icon>
        <ion-label class="tab-label">&nbsp;{{ 'HOME' | translate }}</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <div class="tab-button-center">
        <ion-icon name="list-circle" class="tab-icon"></ion-icon>
        <ion-label class="tab-label">&nbsp;{{ 'TREE' | translate }}</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <div class="tab-button-center">
        <ion-icon name="image" class="tab-icon"></ion-icon>
        <ion-label class="tab-label">&nbsp;{{ 'ARCHIVE' | translate }}</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <div class="tab-button-center">
        <ion-icon name="information-circle" class="tab-icon"></ion-icon>
        <ion-label class="tab-label">&nbsp;{{ 'INFO' | translate }}</ion-label>
      </div>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
