.app-splash-screen {
  /* background: var(--app-color); */
  background-image: var(--url-ion-content-splash);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /* background-size: cover; */
  
  /* background: #d1367d; */
  /* background: red; */
  /* padding: 50px 50px; */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  /* transition: left 0.5s; */
  /* transition: left 0.1s; */
}

/* .app-splash-screen-1 {
  background-image: var(--url-ion-content);
  background-size: cover;
  opacity: 0.50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: left 0.5s;
} */
  
.app-splash-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-logo {
  margin-top: 100px;
  /* background: url("./../../../assets/icon/gia-pha.png"); */
  background: var(--app-logo);
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;
  /* width: 1085px; */
  /* height: 381px; */
  width: 300px;
  height: 100px;
}

.app-heading {
  margin-top: 30px;
  color: var(--app-background-color);
  font-size: 2.5em;
  font-family: "Pacifico", cursive;
}
.app-label-1 {
  margin-top: 30px;
  /* color: #fff; */
  /* color: var(--app-color); */
  color: var(--app-background-color);
  font-size: 2.0em;
  /* font-family: var(--ion-font-family); */
  font-family: "Pacifico", cursive;
}
.app-label-2 {
  margin-top: 20px;
  /* color: #fff; */
  /* color: var(--app-color); */
  color: var(--app-background-color);
  /* font-size: 2.5em; */
  font-size: 2.0em;
  /* font-family: var(--ion-font-family); */
  font-family: "Pacifico", cursive;
}
.app-version {
  margin-top: 30px;
  /* color: #fff; */
  /* color: var(--app-color); */
  color: var(--app-background-color);
  /* font-size: 2.5em; */
  font-size: 1.5em;
  /* font-family: "Pacifico", cursive; */
  font-family: var(--ion-font-family);
}
.app-mode {
  margin-top: 20px;
  color: var(--app-background-color);
  font-size: 1.5em;
  font-weight: bold;
  font-family: var(--ion-font-family);
}

.app-loader {
  margin-top: 40px;
  background: var(--app-three-dots);
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;
  width: 80px;
  height: 80px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: var(--app-background-color);
  color: var(--app-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}