<ion-header>
  <ion-toolbar>
    <ion-title>Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="{
    initialSlide: 1,
    keyboard: true,
    speed: 200
  }">
    <ion-slide *ngFor="let slide of slides">
      <h1>{{data[slide].title}}</h1>
      <div *ngFor="let area of data[slide].areas">
        <a id="{{slide+'-area'+area.id}}" class="{{slide+'-area'}}" (click)="displayName(area.name)"></a>
      </div>
      <img src="{{data[slide].src}}" width="data[slide].map.width" height="data[slide].map.height"/>
    </ion-slide>
  </ion-slides>

</ion-content>
