.app-header {
  --background: var(--app-background-color) center / 100%;
  height: var(--app-panel-height-small);
	width: 100%;
	display: flex; 
  align-items: center;
	margin: auto;
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      font-size: var(--app-icon-font-size-medium);
      color: var(--app-color);
    }
    .label {
      font-size: var(--app-text-font-size-medium);
      color: var(--app-color);
    }
    .button {
      --padding-start: 5px;
      --padding-end: 5px;
    }
  }
}

.header-input {
	// width: var(--app-modal-width);
	// --background: var(--app-background-color) center / 100%;
	--background: white center / 100%;
	border: solid 1px red;
	border-radius: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: var(--app-text-font-size-medium);
}

.app-grid-label {
	.width-50 {
		width: 50%;
	}
	.width-80 {
		width: 80%;
	}
	.margin-left {
		margin-left:0px;
	}
	.margin-auto {
		margin: auto;
	}
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
	.column {
		height: var(--app-panel-height-small);
		display: flex;
		align-items: center;
		// justify-content: center;
		.left {
			text-align: left !important;
		}
		.center {
			text-align: center !important;
		}
		.right {
			text-align: right !important;
		}
		.icon {
			font-size: var(--app-icon-font-size-medium);
			color: var(--app-color);
			background: var(--app-background-color);
		}
		.button {
			--padding-start: 5px;
			--padding-end: 5px;
		}
	}
}

.app-grid {
  width: 100%;
	// margin: auto;
	// .margin-left {
	// 	margin-left:0px;
	// }
	.width-80 {
		width: 80%;
	}
  ion-row:first-child {
		color: var(--app-color);
    background-color: var(--app-background-color);
  }
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
	.column {
		height: var(--app-panel-height-small);
		display: flex;
		align-items: center;
		// justify-content: center;
		.left {
			text-align: left !important;
		}
		.center {
			text-align: center !important;
		}
		.right {
			text-align: right !important;
		}
		// .left {
		// 	margin-left:0px;
		// }
		.icon {
			font-size: var(--app-icon-font-size-medium);
			color: var(--app-color);
			background: var(--app-background-color);
		}
		.label {
			font-size: var(--app-text-font-size-medium);
			color: var(--app-color);
		}
		.label-black {
			font-size: var(--app-text-font-size-medium);
			color: black;
		}
		.button {
			--padding-start: 5px;
			--padding-end: 5px;
		}
	}
}


.app-grid-1 {
  width: 100%;
	// margin: auto;
	// .margin-left {
	// 	margin-left:0px;
	// }
	.width-80 {
		width: 80%;
	}
  ion-row:first-child {
		color: var(--app-color);
    background-color: var(--app-background-color);
  }
  ion-col {
    border-bottom: 0;
    border-right: 0;
  }
	.column {
		height: var(--app-panel-height-small);
		display: flex;
		align-items: center;
		// justify-content: center;
		.left {
			text-align: left !important;
		}
		.center {
			text-align: center !important;
		}
		.right {
			text-align: right !important;
		}
		// .left {
		// 	margin-left:0px;
		// }
		.icon {
			font-size: var(--app-icon-font-size-medium);
			color: var(--app-color);
			background: var(--app-background-color);
		}
		.label {
			font-size: var(--app-text-font-size-medium);
			color: var(--app-color);
		}
		.label-black {
			font-size: var(--app-text-font-size-medium);
			color: black;
		}
		.button {
			--padding-start: 5px;
			--padding-end: 5px;
		}
	}
}

.app-grid-small{
  width: 100%;
	// margin: auto;
	// .margin-left {
	// 	margin-left:0px;
	// }
	// .width-80 {
	// 	width: 80%;
	// }
  ion-row:first-child {
		color: var(--app-color);
    background-color: var(--app-background-color);
  }
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
	.column {
		height: var(--app-panel-height-small);
		display: flex;
		align-items: center;
		// justify-content: center;
		.left {
			text-align: left !important;
		}
		.center {
			text-align: center !important;
		}
		.right {
			text-align: right !important;
		}
		// .left {
		// 	margin-left:0px;
		// }
		.icon {
			font-size: var(--app-icon-font-size-medium);
			color: var(--app-color);
			background: var(--app-background-color);
		}
		.label {
			font-size: var(--app-text-font-size-small);
			color: var(--app-color);
		}
		.label-black {
			font-size: var(--app-text-font-size-small);
			color: black;
		}
		.button {
			--padding-start: 5px;
			--padding-end: 5px;
		}
	}
}

.app-grid-small-no-header{
  width: 100%;
	// margin: auto;
	// .margin-left {
	// 	margin-left:0px;
	// }
	.width-80 {
		width: 80%;
	}
  ion-row:first-child {
		// color: var(--app-color);
    // background-color: var(--app-background-color);
		border-right: 1px solid black;
  }
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
	.column {
		height: var(--app-panel-height-small);
		display: flex;
		align-items: center;
		// justify-content: center;
		.left {
			text-align: left !important;
		}
		.center {
			text-align: center !important;
		}
		.right {
			text-align: right !important;
		}
		// .left {
		// 	margin-left:0px;
		// }
		.icon {
			font-size: var(--app-icon-font-size-medium);
			color: var(--app-color);
			background: var(--app-background-color);
		}
		.label {
			font-size: var(--app-text-font-size-small);
			color: var(--app-color);
		}
		.label-black {
			font-size: var(--app-text-font-size-small);
			color: black;
		}
		.button {
			--padding-start: 5px;
			--padding-end: 5px;
		}
	}
}

.app-grid-label-1 {
	.width-50 {
		width: 50%;
	}
	.width-80 {
		width: 80%;
	}
	.margin-left {
		margin-left:0px;
	}
	.margin-auto {
		margin: auto;
	}
  ion-col {
    border-bottom: 0;
    border-right: 0;
  }
	.column {
		height: var(--app-panel-height-small);
		display: flex;
		align-items: center;
		// justify-content: center;
		.left {
			text-align: left !important;
		}
		.center {
			text-align: center !important;
		}
		.right {
			text-align: right !important;
		}
		.icon {
			font-size: var(--app-icon-font-size-medium);
			color: var(--app-color);
			background: var(--app-background-color);
		}
		.button {
			--padding-start: 5px;
			--padding-end: 5px;
			  width: 24px;
				height: 24px;

		}
	}
}

.viewer-header-top {
  --background: var(--app-background-color) center / 100%;
	margin: auto;
	border: solid 3px var(--app-background-color);
	border-radius: 5px;
  height: 35px;
	width: 100%;
	display: flex; 
  align-items: center;
  margin-left:0px;
  margin-right:0px;
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
		.icon {
      font-size: var(--app-icon-font-size-medium);
			color: var(--app-color);
		}
    .label {
      font-size: var(--app-text-font-size-medium);
			color: var(--app-color);
    }
    .button {
      --padding-start: 5px;
      --padding-end: 5px;
    }
  }
}

.viewer-home-panel-detail {
	background: var(--app-background-color);
	margin: auto;
	border: solid 3px var(--app-background-color);
	border-radius: 5px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	.icon {
		font-size: var(--app-icon-font-size-large);
		color: var(--app-color);
	}
	.label {
		font-size: var(--app-text-font-size-large);
		color: var(--app-color);
		font-family: "Pacifico", cursive;
	}
	.button {
		--padding-start: 5px;
		--padding-end: 5px;
	}
}

.viewer-home-grid {
  --ion-grid-column-padding: 5px;
  width: 100%;
  font-size: var(--app-text-font-size-small);
  ion-row:first-child {
    font-weight: bold;
		// color: var(--app-color);
    // background-color: var(--app-background-color);
    font-size: var(--app-text-font-size-small);
    border: 3px solid var(--app-background-color);
		border-radius: 3px;
		border-right: 0;
    border-bottom: 0;
		border-top: 0;
		border-left: 0;
  }
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
}

// https://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html
// https://stackoverflow.com/questions/39858998/zoom-in-and-out-on-mouse-click-with-css

.view-person-photo-parent {
  position: relative;
  top: 0;
  left: 0;
	display: flex;
  justify-content: center;
	padding-top: 10px;
	padding-left: 30%;

	.image1 {
		position: relative;
		top: 0;
		left: 0;
		// border: 1px red solid;
	}
	.image2 {
		// position: absolute;
		position: relative;
		// top: 20px;
		// left: -120px;
		top: var(--app-view-person-top);
		left: var(--app-view-person-left);
		// border: 1px green solid;
		&:hover{
			transform:scale(2);
		}
	}
}

// .viewer-home-container-text-1 {
// 	display: flex;
// 	justify-content: left;
// 	color: blue;
// 	font-weight: bold;
// 	font-size: 30px;
// 	padding-left: 20%;
// }

.viewer-home-table {
	color: blue;
}

.viewer-home-container-text-normal {
	display: flex;
	// color: var(--app-color);
	font-size: var(--app-text-font-size-medium);
	justify-content: center;
	font-weight: bold;
}

// p {
//   text-indent: -2em;
//   margin-left: 2em;
// }

.viewer-home-text-normal {
	text-indent: 2em;
	// text-indent: 4em;
  // margin-left: 2em;
}

.viewer-home-text-apa1 {
	display: flex;
	font-size: var(--app-text-font-size-extra-large);
	justify-content: center;
	font-weight: bold;
}

.viewer-home-text-apa2 {
	display: flex;
	font-size: var(--app-text-font-size-large);
	justify-content: left;
	font-weight: bold;
}

.viewer-home-text-apa3 {
	display: flex;
	font-size: var(--app-text-font-size-medium);
	justify-content: left;
	font-weight: bold;
	font-style: italic;
}

.viewer-home-text-apa4 {
	display: flex;
	padding-left: 20px;
	font-size: var(--app-text-font-size-small);
	justify-content: left;
	font-weight: bold;
}

.viewer-home-text-apa5 {
	display: flex;
	padding-left: 20px;
	font-size: var(--app-text-font-size-tiny);
	justify-content: left;
	font-weight: bold;
	font-style: italic;
}



.viewer-home-container-text {
	
	// display: flex;
	// font-size: var(--app-text-font-size-large);
	// justify-content: center;
	// font-weight: bold;

	.heading {
		display: flex;
		font-size: var(--app-text-font-size-large);
		justify-content: center;
		font-weight: bold;
	}

	.apa1 {
		display: flex;
		font-size: var(--app-text-font-size-large);
		justify-content: center;
		font-weight: bold;
	}

	.apa2 {
		display: flex;
		font-size: var(--app-text-font-size-small);
		justify-content: left;
	}

	// font-size: var(--app-text-font-size-medium);
	// .bold {
	// 	font-weight: bold !important;
	// }
	// .italic {
	// 	font-style: italic;
	// }
	// .center {
	// 	justify-content: center;
	// }
}

.viewer-home-container-text-1 {
	display: flex;
	// color: var(--app-color);
	font-size: var(--app-text-font-size-large);
	font-weight: bold;
}

.viewer-home-container-text-2 {
	display: flex;
	// color: var(--app-color);
	font-size: var(--app-text-font-size-medium);
	padding-left: 10%;
	font-weight: bold;
}

.viewer-home-container-text-3 {
	display: flex;
	// color: var(--app-color);
	font-size: var(--app-text-font-size-small);
	padding-left: 20%;
	font-weight: bold;
}

.viewer-home-container-left{
	display: flex;
	justify-content: left;
	color: blue;
	font-weight: bold;
	font-size: 30px;
}
.viewer-home-container-center {
	display: flex;
	justify-content: center;
}
.viewer-home-container-right {
	display: flex;
	justify-content: right;
}
.viewer-home-container-padding-10 {
	padding-left: 20px;
}
.viewer-home-container-padding-20 {
	padding-left: 30px;
}
.viewer-home-container-padding-30 {
	padding-left: 40px;
}

.viewer-home-container-label {
	background: var(--app-background-color);
	color: var(--app-color);
	font-size: var(--app-page-detail);
	width: 80%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Pacifico", cursive;
}

.viewer-home-container-image {
	// https://www.educative.io/answers/how-to-enlarge-an-image-on-hover-in-html
	&:hover{
		transform:scale(2.5);
	}
}

// .viewer-home-container-video {
// 	// https://www.educative.io/answers/how-to-enlarge-an-image-on-hover-in-html
// 	&:hover{
// 		transform:scale(2.5);
// 	}
// }

.viewer-home-player-wrapper-center {
	max-width: 100%;
	// max-height: 80%;
	margin: auto;
	text-align: center;
	// justify-content: center;
	// display: flex;
	// display: flex;
	// justify-content: center;
	video {
		width: 40%;
		// padding-left: 20%;
		// align-items: center;
		// justify-content: center;
		// display: flex;
		// height: 50%;
	}
}

.viewer-home-player-wrapper-left {
	max-width: 100%;
	margin: auto;
	text-align: left;
	video {
		// width: 0%;
		width: 200px;
		height: 150px;
	}
}
.viewer-home-player-wrapper-right {
	max-width: 100%;
	margin: auto;
	text-align: right;
	video {
		width: 40%;
	}
}


.click-zoom input[type=checkbox] {
  display: none
}

.click-zoom img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2);
  cursor: zoom-out
}

.viewer-home-no-expand {
  box-sizing: border-box;
  width: 0px;
  min-width: 100%;
  padding: 10px;
}

.viewer-person-container {
	width: 100%;
  height: 100%;
	.person-image {
		padding-left: 20%;
		width: 60%;						
		margin: 0 auto;
	}
	.person-image-mobile {
		padding-left: 10%;
		width: 80%;
		margin: 0 auto;
	}
	.person-tree {
		width: 100%;						
		margin: 0 auto;
	}
	.person-desc {
		width: 100%;
		margin: 0 auto;
		font-size: var(--app-text-font-size-medium);

		.person-section{
			background: var(--app-background-color);
			color: var(--app-color);
			border: solid 2px var(--app-background-color);
			border-radius: 5px;
			font-size: var(--app-text-font-size-medium);
			// font-size: var(--app-text-font-size-small);
			height:26px;
			position: relative; 
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: left;
			.span{
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}
		.person-textarea{
			border: solid 1px var(--app-background-color);
			border-radius: 5px;
			margin-top: 5px;
			margin-bottom: 5px;
			font-size: 100%;
			.p-center {
				text-align: center;
			}
			.p-right {
				text-align: right;
			}
		}
	}
}

// --- vnode.page.html ---

.viewer-vnode-container {
	width: 100%;
  height: 40%;
	.vnode-tree {
		width: 100%;						
		margin: 0 auto;
	}
}

// .editor-filer {
// 	width: var(--app-modal-width);
//   .label{
//     font-weight: bold;
//     font-size: var(--app-text-font-size-small);
// 		background-color: var(--app-background-color);
// 		color: var(--app-color);
//   }
//   .select{
//     margin-top: 8px;
//     margin-bottom: 8px;
//     font-size: var(--app-text-font-size-small);
// 		border: 1px solid red;
// 		border-radius: 5px;
// 		// box-shadow: none;
//   }
// }

// --- jsoneditor CSS defined in filer.page.ts (jsonStartEditor)

// #editor {
// 	width: 1000px;
// 	height: 500px;
// }

textarea.jsoneditor-text{min-height:350px;}

.jsoneditor-class-nodes div.jsoneditor-field {
  // background-color: rgb(220, 216, 216);
	color: red;
	font-weight: bold;
}
.jsoneditor-class-nodes div.jsoneditor-value {
	color: black;
}

.jsoneditor-class-name div.jsoneditor-field {
  // background-color: rgb(220, 216, 216);
	color: blue;
	font-weight: bold;
}
.jsoneditor-class-name div.jsoneditor-value {
	color: black;
}

// .jsoneditor-class div.jsoneditor-field {
//   background-color: rgb(220, 216, 216);
// 	color: red;
// }

// .jsoneditor-class div.jsoneditor-value {
//   background-color: rgb(120, 115, 115);
// 	color: blue;
// }

// jsoneditor-button jsoneditor-contextmenu-button {
// 	background-position: -48px -72px;
// 	color: red;
// 	background-color: blue;
// }

// div.jsoneditor-tree button.jsoneditor-contextmenu-button {
//   background-position: -48px -72px;
// 	color: red;
// }

// div.jsoneditor-tree button.jsoneditor-button {
//   // width: 24px;
//   // height: 24px;
// 	// width: 30px;
//   height: 30px;
// 	// padding: 8px 8px 0 0;
//   padding: 0;
//   margin: 0;
//   border: none;
//   cursor: pointer;
//   background-color: transparent;
//   background-image: url("../assets/js/img/jsoneditor-icons.svg");
// }

// @import "assets/js/jsoneditor.css";

// .jsoneditor-contextmenu .jsoneditor-menu {
//   position: relative;
//   left: 0;
//   top: 0;
//   width: 300px;
//   height: auto;
//   background: #ffffff;
//   border: 1px solid #d3d3d3;
//   box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.3);
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

// .jsoneditor-contextmenu .jsoneditor-menu button {
//   position: relative;
//   // padding: 0 8px 0 0;
// 	padding: 0;
//   margin: 0;
//   width: 300px;
//   height: auto;
//   border: none;
//   cursor: pointer;
//   color: #4d4d4d;
//   background: transparent;
//   /* font-size: 14px; */
//   font-size: 16px;
//   font-family: arial, sans-serif;
//   box-sizing: border-box;
//   text-align: left;
// }

// .jsoneditor .autocomplete.dropdown {
//   width: 300px;
//   position: absolute;
//   background: #ffffff;
//   box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.3);
//   border: 1px solid #d3d3d3;
//   overflow-x: hidden;
//   overflow-y: auto;
//   cursor: default;
//   margin: 0;
//   padding: 5px;
//   text-align: left;
//   outline: 0;
//   font-family: consolas, menlo, monaco, "Ubuntu Mono", "source-code-pro", monospace;
//   font-size: 16px;
// }

// .jsoneditor .autocomplete.dropdown .item {
//   color: black;
// }


// .jsoneditor-class {
//   background-color: yellow;
// 	color: red;
// }
