.viewer-header-top {
  --background: var(--app-background-color) center / 100%;
	margin: auto;
	border: solid 3px var(--app-background-color);
	border-radius: 5px;
  height: 35px;
	width: 100%;
	display: flex; 
  align-items: center;
  margin-left:0px;
  margin-right:0px;
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
		.icon {
      font-size: var(--app-icon-font-size-medium);
			color: var(--app-color);
		}
    .label {
      font-size: var(--app-text-font-size-medium);
			color: var(--app-color);
    }
    .button {
      --padding-start: 5px;
      --padding-end: 5px;
    }
  }
}

.viewer-home-panel-detail {
	background: var(--app-background-color);
	margin: auto;
	border: solid 3px var(--app-background-color);
	border-radius: 5px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	.icon {
		font-size: var(--app-icon-font-size-large);
		color: var(--app-color);
	}
	.label {
		font-size: var(--app-text-font-size-large);
		color: var(--app-color);
		font-family: "Pacifico", cursive;
	}
	.button {
		--padding-start: 5px;
		--padding-end: 5px;
	}
}

.viewer-home-grid {
  --ion-grid-column-padding: 5px;
  width: 100%;
  font-size: var(--app-text-font-size-small);
  ion-row:first-child {
    font-weight: bold;
		color: var(--app-color);
    background-color: var(--app-background-color);
    font-size: var(--app-text-font-size-small);
    border: 3px solid var(--app-background-color);
		border-radius: 3px;
		border-right: 0;
    border-bottom: 0;
		border-top: 0;
		border-left: 0;
  }
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
}

// https://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html
// https://stackoverflow.com/questions/39858998/zoom-in-and-out-on-mouse-click-with-css

.view-person-photo-parent {
  position: relative;
  top: 0;
  left: 0;
	display: flex;
  justify-content: center;
	.image1 {
		position: relative;
		top: 0;
		left: 0;
		// border: 1px red solid;
	}
	.image2 {
		// position: absolute;
		position: relative;
		// top: 130px;
		// left: -90px;
		top: var(--app-view-person-top);
		left: var(--app-view-person-left);
		// border: 1px green solid;
		&:hover{
			transform:scale(2.5);
		}
	}
}

.viewer-home-container-left{
	display: flex;
	justify-content: left;
}
.viewer-home-container-center {
	display: flex;
	justify-content: center;
}
.viewer-home-container-right {
	display: flex;
	justify-content: right;
}

.viewer-home-container-label {
	background: var(--app-background-color);
	color: var(--app-color);
	font-size: var(--app-page-detail);
	width: 80%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Pacifico", cursive;
}

.viewer-home-container-image {
	// https://www.educative.io/answers/how-to-enlarge-an-image-on-hover-in-html
	&:hover{
		transform:scale(2.5);
	}
}

.click-zoom input[type=checkbox] {
  display: none
}

.click-zoom img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2);
  cursor: zoom-out
}

.viewer-home-no-expand {
  box-sizing: border-box;
  width: 0px;
  min-width: 100%;
  padding: 10px;
}

.viewer-person-container {
	width: 100%;
  height: 100%;
	.person-image {
		padding-left: 20%;
		width: 60%;						
		margin: 0 auto;
	}
	.person-image-mobile {
		padding-left: 10%;
		width: 80%;
		margin: 0 auto;
	}
	.person-tree {
		width: 100%;						
		margin: 0 auto;
	}
	.person-desc {
		width: 100%;
		margin: 0 auto;
		.person-section{
			background: var(--app-background-color);
			color: var(--app-color);
			border: solid 2px var(--app-background-color);
			border-radius: 5px;
			font-size: var(--app-text-font-size-medium);
			height:26px;
			position: relative; 
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: left;
			.span{
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}
		.person-textarea{
			border: solid 1px var(--app-background-color);
			border-radius: 5px;
			margin-top: 5px;
			margin-bottom: 5px;
			font-size: 100%;
			.p-center {
				text-align: center;
			}
			.p-right {
				text-align: right;
			}
		}
	}
}

// --- vnode.page.html ---

.viewer-vnode-container {
	width: 100%;
  height: 40%;
	.vnode-tree {
		width: 100%;						
		margin: 0 auto;
	}
}

