
.home-text-p {
	font-size: 14px;
}

.home-text-center {
	text-align: center;
}

.home-image-hover {
	// https://www.educative.io/answers/how-to-enlarge-an-image-on-hover-in-html
	&:hover{
		transform:scale(2.0);
	}
}

.home-image-center {
	display: flex;
	justify-content: center;
}

.home-document {
	display: flex;
	justify-content: left;
	font-weight: bold;
	font-size: var(--app-page-detail);
}

.home-video-wrapper {
	max-width: 100%;
	text-align: left;
	video {
		width: 200px;
		height: 150px;
	}
}

.home-grid {
	--ion-grid-column-padding: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 15px;
  width: 100%;
  // font-size: var(--app-text-font-size-small);
  ion-row:first-child {
    font-weight: bold;
		color: var(--app-color);
    background-color: var(--app-background-color);
    // font-size: var(--app-text-font-size-small);
    border: 3px solid var(--app-background-color);
		border-radius: 3px;
		border-right: 0;
    border-bottom: 0;
		border-top: 0;
		border-left: 0;
  }
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
}

.home-popup {
	display: flex;
	align-items: center;
	// justify-content: center;
	.width-50 {
		width: 50%;
	}
	.width-80 {
		width: 80%;
	}
	.margin-left {
		margin-left:0px;
	}
	.margin-auto {
		margin: auto;
	}
  ion-col {
    border-bottom: 0;
    border-right: 0;
  }
	.column {
		height: var(--app-panel-height-small);
		display: flex;
		align-items: center;
		.left {
			text-align: left !important;
		}
		.center {
			text-align: center !important;
		}
		.right {
			text-align: right !important;
		}
		.icon {
			font-size: var(--app-icon-font-size-small);
			color: var(--app-color);
			background: var(--app-background-color);
			width: 16px;
			height: 16px;
		}
		.button {
			--padding-start: 5px;
			--padding-end: 5px;
		}
	}
}