<ion-header>
	<ion-item class="editor-filer-header">
		<ion-col size="12" class="heading">
      <span class="label"><b>{{ 'FILER_TITLE' | translate }}</b></span>
    </ion-col>
	</ion-item>
</ion-header>

<ion-content [fullscreen]="true">

	<div class="editor-filer">
		<ion-row>
			<ion-col size="5">
				<ion-label class="label">{{ 'FILER_TASK_HEADER' | translate }}</ion-label>
				<div class="select">
					<ng-select 
						[items]="tasks"
						bindLabel="name"
						bindValue="id"
						[(ngModel)]="currentTask"
						(close)="closeTask()"
						title="{{ 'FILE_TASK_TOOLTIP' | translate }}"
					>
					</ng-select>
				</div>
			</ion-col>
			<ion-col size="1">
			</ion-col>

			<ion-col size="5" *ngIf="notifyMode">
				<ion-label class="label">{{ 'FILER_NOTIFICATION' | translate }}</ion-label>
				<div class="select">
					<ng-select 
						[items]="notifyTasks"
						bindLabel="name"
						bindValue="id"
						[(ngModel)]="currentNotifyTask"
						(close)="closeNotifyTask()"
						title="{{ 'FILER_NOTIFICATION' | translate }}"
					>
					</ng-select>
				</div>
			</ion-col>

			<ion-col size="5" *ngIf="jsonMode">
				<ion-label class="label">{{ jsonFileName }}</ion-label>
				<div class="select">
					<ng-select 
						[items]="jsonTasks"
						bindLabel="name"
						bindValue="id"
						[(ngModel)]="currentJsonTask"
						(close)="closeJsonTask()"
						title="{{ 'FILE_UPLOAD_JSON_TOOLTIP' | translate }}"
					>
					</ng-select>
				</div>
			</ion-col>

			<ion-col size="5" *ngIf="photoMode">
				<ion-label class="label">{{ photo }}</ion-label>
				<div class="select">
					<ng-select 
						[items]="photoTasks"
						bindLabel="name"
						bindValue="id"
						[(ngModel)]="currentPhotoTask"
						(close)="closePhotoTask()"
						title="{{ 'FILE_PHOTO_MODIFY' | translate }}"
					>
					</ng-select>
				</div>
			</ion-col>

			<ion-col size="5" *ngIf="storageMode">
				<ion-label class="label">{{ 'FILER_TASK_HEADER' | translate }}</ion-label>
				<div class="select">
					<ng-select 
						[items]="storageTasks"
						bindLabel="name"
						bindValue="id"
						[(ngModel)]="currentStorageTask"
						(close)="closeStorageTask()"
						title="{{ 'FILE_UPLOAD_JSON_TOOLTIP' | translate }}"
					>
					</ng-select>
				</div>
			</ion-col>

		</ion-row>
		<br>
		<ion-item class="editor-filer-header-line">
		</ion-item>
		<br>
	</div>
	
	<div class="screen-file">

		<input id="modify-json-json" type="file" (change)="jsonOnFileSelect($event, 'JSON')" style="display:none;" title=" " accept=".json"/>
		<input id="photo-image" type="file" (change)="photoGetFile($event)" title=" " accept=".png, .jpg, .jpeg, .doc, .mp4" style="display:none;"/>

		<div *ngIf="notifyMode">
			
			<ion-item class="editor-filer" *ngIf="recipientList.length > 0">
				<ion-col size="12" class="heading" title="{{ 'FILE_RECIPIENT_HEADER' | translate }}">
					<span class="label"><b>{{ 'FILE_RECIPIENT_HEADER' | translate }}</b></span>
				</ion-col>
			</ion-item>
			<ion-grid class="editor-filer-grid" *ngIf="recipientList.length > 0">
				<ion-row>
					<ion-col size="1" class="column center">
						<span class="label">{{ 'FILE_RECIPIENT_ID' | translate }}</span>
					</ion-col>
					<ion-col size="3" class="column center">
						<span class="label">{{ 'FILE_RECIPIENT_NAME' | translate }}</span>
					</ion-col>
					<ion-col size="3" class="column center">
						<span class="label">{{ 'FILE_RECIPIENT_TOKEN' | translate }}</span>
					</ion-col>
					<ion-col size="3" class="column center">
						<span class="label">{{ 'FILE_RECIPIENT_PLATFORM' | translate }}</span>
					</ion-col>
					<ion-col size="1" class="column center">
						<span class="label">{{ 'FILE_RECIPIENT_ADD' | translate }}</span>
					</ion-col>
					<ion-col size="1" class="column center">
						<span class="label">{{ 'FILE_RECIPIENT_DELETE' | translate }}</span>
					</ion-col>
				</ion-row>
				<ion-row *ngFor="let recipient of recipientList">
					<ion-col size="1" class="column center">
						<span class="label-black">{{ recipient.id }}</span>
					</ion-col>
					<ion-col size="3" class="column"> 
						<span class="label-black">{{ recipient.name }}</span>
					</ion-col>
					<ion-col size="3" class="column center">
						<span class="label-black">{{ recipient.tokenShort }}</span>
					</ion-col>
					<ion-col size="3" class="column center">
						<span class="label-black">{{ recipient.platform }}</span>
					</ion-col>
					<ion-col size="1" class="column center"> 
						<ion-button class="button" fill="clear" (click)="notifyOnEditRecipient(recipient, 'ADD')">
							<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
						</ion-button>
					</ion-col>
					<ion-col size="1" class="column center"> 
						<ion-button class="button" fill="clear" (click)="notifyOnEditRecipient(recipient, 'DELETE')">
							<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>

			<br/>
			
			<ion-item class="editor-filer" *ngIf="messageList.length > 0">
				<ion-col size="12" class="heading" title="{{ 'FILE_MESSAGE_HEADER' | translate }}">
					<span class="label"><b>{{ 'FILE_MESSAGE_HEADER' | translate }}</b></span>
				</ion-col>
			</ion-item>
			<ion-grid class="editor-filer-grid" *ngIf="messageList.length > 0">
				<ion-row>
					<ion-col size="2" class="column center">
						<span class="label">{{ 'FILE_MESSAGE_ID' | translate }}</span>
					</ion-col>
					<ion-col size="1" class="column center">
						<span class="label">{{ 'FILE_MESSAGE_STATUS' | translate }}</span>
					</ion-col>
					<ion-col size="6" class="column center">
						<span class="label">{{ 'FILE_MESSAGE_CONTENT' | translate }}</span>
					</ion-col>
					<ion-col size="1" class="column center">
						<span class="label">{{ 'FILE_MESSAGE_ADD' | translate }}</span>
					</ion-col>
					<ion-col size="1" class="column center">
						<span class="label">{{ 'FILE_MESSAGE_DELETE' | translate }}</span>
					</ion-col>
					<ion-col size="1" class="column center">
						<span class="label">{{ 'FILE_MESSAGE_SEND' | translate }}</span>
					</ion-col>
				</ion-row>
				<ion-row *ngFor="let msg of messageList">
					<ion-col size="2" class="column center"> 
						<span class="label-black">{{ msg.id }}</span>
					</ion-col>
					<ion-col size="1" class="column center">
						<span class="label-black">{{ msg.status }}</span>
					</ion-col>
					<ion-col size="6" class="column">
						<span class="label-black">{{ msg.content }}</span>
					</ion-col>
					<ion-col size="1" class="column center"> 
						<ion-button class="button" fill="clear" (click)="notifyOnEditMessage(msg, 'ADD')">
							<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
						</ion-button>
					</ion-col>
					<ion-col size="1" class="column center"> 
						<ion-button class="button" fill="clear" (click)="notifyOnEditMessage(msg, 'DELETE')">
							<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
						</ion-button>
					</ion-col>
					<ion-col size="1" class="column center"> 
						<ion-button class="button" fill="clear" (click)="notifyOnEditMessage(msg, 'SEND')">
							<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
						</ion-button>
					</ion-col>

				</ion-row>
			</ion-grid>
		</div>
		
		<div *ngIf="jsonMode">
			<div class="ion-padding">
				<json-editor
					class="col-md-12"
					style="height:400px;"
					[options]="editorOptions"
					[debug]="true" 
					[data]="data" 
					(change)="jsonChange($event)" 
					#editor
				>
				</json-editor>
				<app-show [data]="showData"></app-show>
			</div>
		</div>

		<div *ngIf="photoMode">
			<form *ngIf="photoBase64 != '' && photoType == 'image'">
				<img [src]="photoBase64" style="display: block; margin-left: auto; margin-right: auto;" alt="{{photo}}" />
			</form>
		</div>
	
		<div *ngIf="storageMode">

			<form *ngIf="storageFileName != '' && storageFileType">
				<p style="text-align:center;">{{storageFileName}}</p>
				<img id="storage-view" src="#" width="500" height="400" style="display: block; margin-left: auto; margin-right: auto;" alt="{{storageFileName}}" />
			</form>

			<ion-grid class="editor-filer-grid" *ngIf="storageFiles.length > 0">
				<ion-row>
					<ion-col size="2" class="column center">
						<span class="label">{{ 'FILE_STORAGE_FOLDER' | translate }}</span>
					</ion-col>
					<ion-col size="2" class="column center">
						<span class="label">{{ 'FILE_STORAGE_HEADER' | translate }}</span>
					</ion-col>
					<ion-col size="2" class="column center">
						<span class="label">{{ 'FILE_STORAGE_SIZE' | translate }}</span>
					</ion-col>
					<ion-col size="2" class="column center">
						<span class="label">{{ 'FILE_STORAGE_TYPE' | translate }}</span>
					</ion-col>
					<ion-col size="2" class="column center">
						<span class="label">{{ 'FILE_STORAGE_DELETE' | translate }}</span>
					</ion-col>
					<ion-col size="2" class="column center">
						<span class="label">{{ 'FILE_STORAGE_VIEW' | translate }}</span>
					</ion-col>
				</ion-row>
				<ion-row *ngFor="let file of storageFiles">
					<ion-col size="2" class="column center"> 
						<span class="label-black">{{ file.displayPath }}</span>
					</ion-col>
					<ion-col size="2" class="column center"> 
						<span class="label-black">{{ file.name }}</span>
					</ion-col>
					<ion-col size="2" class="column center">
						<span class="label-black">{{ utilService.getKB(file.size) }}</span>
					</ion-col>
					<ion-col size="2" class="column center">
						<span class="label-black">{{ file.type }}</span>
					</ion-col>
					<ion-col size="2" class="column center"> 
						<ion-button class="button" fill="clear" (click)="storageOnDelete(file)">
							<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
						</ion-button>
					</ion-col>
					<ion-col size="2" class="column center"> 
						<ion-button class="button" fill="clear" (click)="storageOnView(file)">
							<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-edit-outline.svg" class="icon"></ion-icon>
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>

	</div>

	</ion-content>
	