<ion-header>
  <ion-item class="app-ion-item">
    <ion-col size="12">
      <ion-title class="ion-text-center app-ion-title">{{ title }}</ion-title>
    </ion-col>
    <!-- <ion-col size="2">
      <ion-button class="app-ion-button" fill="clear" (click)="onAncestor()">
        <ion-icon slot="icon-only" name="key" class="app-ion-icon"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="app-ion-button" fill="clear" (click)="onEditor()">
        <ion-icon slot="icon-only" name="create" class="app-ion-icon"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="app-ion-button" fill="clear" (click)="onFile()">
        <ion-icon slot="icon-only" name="document" class="app-ion-icon"></ion-icon>
      </ion-button>
    </ion-col> -->

  </ion-item>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">

</ion-content>
