<ion-header>
  <ion-item class="header-top">
		<ion-col size="2" class="heading" (click)="onExit()">
      <ion-button class="button" fill="clear" (click)="onExit()">
        <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}close-circle-outline.svg" class="icon"></ion-icon>
      </ion-button>
      <span class="label">{{ 'CANCEL' | translate }}</span>
    </ion-col>
    <ion-col size="8">
      <ng-select 
				class="mobileClass"
        [appendTo]="'body'"
        [items]="peopleNodes" 
        placeholder="{{selectPeoplePlaceholder}}"
        [(ngModel)]="selectPeople"
        (close)="closePeopleNodes()"
        (clear)="clearPeopleNodes()"
        (keyup)="keyupPeopleNodes($event)"
      >
      </ng-select>
    </ion-col>
		<ion-col size="1" class="heading" (click)="ftTreeService.onZoomIn()">
			<ion-button class="button" fill="clear" (click)="ftTreeService.onZoomIn()">
				<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}magnify-minus-outline.svg" class="icon"></ion-icon>
			</ion-button>
			<!-- <span class="label">{{ 'CANCEL' | translate }}</span> -->
		</ion-col>
		<ion-col size="1" class="heading" (click)="ftTreeService.onZoomOut()">
			<ion-button class="button" fill="clear" (click)="ftTreeService.onZoomOut()">
				<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}magnify-plus-outline.svg" class="icon"></ion-icon>
			</ion-button>
			<!-- <span class="label">{{ 'CANCEL' | translate }}</span> -->
		</ion-col>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
	
	<!-- <div class="screen-node vnode-container" id="full-tree"> -->
		<!-- <div id="double-tap">Double Tap Me !!!</div>  -->
		<!-- <div class="vnode-tree">
			<pinch-zoom #myPinch="pinchZoom"
				[backgroundColor]="'white'"
				[minPanScale]="1"
				[doubleTapScale]="0.8"
				[zoomButton]="false"
				[double-tap]="true"
			>
				<ft-tree (onLeafSelected)="onLeafSelected($event)" [family]="familyView" [view]="viewMode" [class]="treeClass"></ft-tree>
			</pinch-zoom> -->
		<!-- </div>
	</div> -->

	<!-- <div class="screen-node" id="full-tree">
    <div [ngStyle]="getZoomStyle()" id="touch-me">
      <ft-tree (onLeafSelected)="onLeafSelected($event)" [family]="familyView" [view]="viewMode" [class]="treeClass"></ft-tree>
    </div>
  </div> -->

	<div class="screen-node" id="full-tree">
    <div [ngStyle]="ftTreeService.getZoomStyle()">
      <ft-tree (onLeafSelected)="onLeafSelected($event)" [family]="familyView" [view]="viewMode" [class]="treeClass"></ft-tree>
    </div>
  </div>



</ion-content>
