<ion-header>
  <ion-item class="header-top">
		<ion-col size="2" class="heading" (click)="onExit()">
      <ion-button class="button" fill="clear" (click)="onExit()">
        <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}close-circle-outline.svg" class="icon"></ion-icon>
      </ion-button>
      <span class="label">{{ 'CANCEL' | translate }}</span>
    </ion-col>
		<ion-col size="1">
    </ion-col>
    <ion-col size="8">
      <ng-select 
				class="mobileClass"
        [appendTo]="'body'"
        [items]="peopleNodes" 
        placeholder="{{selectPeoplePlaceholder}}"
        [(ngModel)]="selectPeople"
        (close)="closePeopleNodes()"
        (clear)="clearPeopleNodes()"
        (keyup)="keyupPeopleNodes($event)"
      >
      </ng-select>
    </ion-col>
    <ion-col size="1">
    </ion-col>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
	<pinch-zoom #myPinch="pinchZoom"
		[backgroundColor]="'white'"
		[minPanScale]="1"
		[zoomButton]="false"
	>
		<ft-tree (onLeafSelected)="onLeafSelected($event)" [family]="familyView" [view]="viewMode" [class]="treeClass"></ft-tree>
	</pinch-zoom>
</ion-content>
