<ion-header>
  <ion-item class="app-ion-item">
      <ion-col size="7">
        <ion-title class="ion-text-center ion-text-wrap app-ion-title">{{ title }}</ion-title>
      </ion-col>
      <ion-col size="5">
        <ion-button class="app-ion-button" fill="clear" (click)="onSave()">
          <ion-icon slot="icon-only" name="download" class="app-ion-icon"></ion-icon>
        </ion-button>
        <ion-button class="app-ion-button" fill="clear" (click)="onCancel()">
          <ion-icon slot="icon-only" name="close" class="app-ion-icon"></ion-icon>
        </ion-button>
      </ion-col>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  
  <div class="app-ion-content">

    <ion-card-header class="card-header">
    &nbsp;{{ 'NODE_GROUP_NAME' | translate }}
    </ion-card-header>

    <ion-label class="card-label">{{ 'NODE_NAME' | translate }}</ion-label>
    <div class="card-select-1">
      <!-- <ng-select
        [items]="names | async" 
        bindLabel="name"
        notFoundText="{{selectNamesNotFoundText}}"
        placeholder="{{selectNamesPlaceholder}}"
        [closeOnSelect]="true"
        [(ngModel)]="values.nameItem"
        (clear)="clearName()"
        (keyup)="keyupName($event)">
      </ng-select> -->

      <ng-select #ngSelectComponent
      [items]="names | async" 
      bindLabel="name"
      notFoundText="{{selectNamesNotFoundText}}"
      placeholder="{{selectNamesPlaceholder}}"
      [(ngModel)]="values.nameItem"
      (clear)="clear()"
      (keydown)="keydown($event)"
      (keyup)="keyup($event)"
      [keyDownFn]="keydownInDropdown"

    >
    </ng-select>

    </div>
    
    <ion-label class="card-label">{{ 'NODE_RELATION' | translate }}</ion-label>
    <div class="card-select-1">
      <ng-select 
        [items]="relations" 
        bindLabel="name"
        bindValue="id"
        placeholder="{{selectRelationPlaceholder}}"
        [(ngModel)]="values.relation">
      </ng-select>
    </div>

    <ion-label class="card-label">{{ 'NODE_GENDER' | translate }}</ion-label>
    <div class="card-select-1">
      <ng-select 
        [items]="genders" 
        bindLabel="name"
        bindValue="id"
        placeholder="{{selectGenderPlaceholder}}"
        [(ngModel)]="values.gender">
      </ng-select>
    </div>
 
  </div>

</ion-content>
