<ion-header>

  <div *ngIf="fullView">
    <ion-item class="app-ion-item">
      <ion-col size="3">
      </ion-col>
      <ion-col size="6">
        <ng-select #ngSelectPeople
          [appendTo]="'body'"
          [items]="peopleNodes" 
          bindLabel="name"
          placeholder="{{selectPeoplePlaceholder}}"
          [(ngModel)]="selectPeople"
          (close)="closePeopleNodes()"
          (clear)="clearPeopleNodes()"
        >
        </ng-select>
      </ion-col>
      <ion-col size="3" class="task-heading" (click)="onCancel()">
        <ion-button class="app-ion-button" fill="clear" title="{{ 'NODE_HEADER_TOOLTIP_CANCEL' | translate }}"  (click)="onCancel()">
          <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}close-circle-outline.svg" class="app-ion-icon-material"></ion-icon>
        </ion-button>
        <span class="label">{{ 'TASK_CLOSE' | translate }}</span>
      </ion-col>
    </ion-item>
  </div>

  <div *ngIf="nodeView">
    <ion-item class="app-ion-item">
      <ion-col size="3" class="task-heading">
        <span class="label">{{ selectedNodeName }}</span>
      </ion-col>
      
      <ion-col size="3" class="task-heading" (click)="onSummary()">
        <ion-button class="app-ion-button" title="{{ 'EDITOR_HEADER_TOOLTIP_ADD' | translate }}" fill="clear">
          <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}account-eye-outline.svg" class="app-ion-icon-material"></ion-icon>
        </ion-button>
        <span class="label">{{ 'HILITE_TASK_SUMMARY' | translate }}</span>
      </ion-col>

      <!-- <ion-col size="3" class="task-heading" (click)="viewNodeTree()" *ngIf="!treeView"> -->
      <ion-col size="3" class="task-heading" (click)="onNodeTree()">
        <ion-button class="app-ion-button" title="{{ 'EDITOR_HEADER_TOOLTIP_ADD' | translate }}" fill="clear">
          <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-tree-outline.svg" class="app-ion-icon-material"></ion-icon>
        </ion-button>
        <span class="label">{{ 'HILITE_TASK_TREE' | translate }}</span>
      </ion-col>
      
      <!-- <ion-col size="3" class="task-heading" (click)="onPdf()" *ngIf="treeView">
        <ion-button class="app-ion-button" title="{{ 'EDITOR_HEADER_TOOLTIP_ADD' | translate }}" fill="clear">
          <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-pdf-box.svg" class="app-ion-icon-material"></ion-icon>
        </ion-button>
        <span class="label">{{ 'HILITE_TASK_PDF' | translate }}</span>
      </ion-col> -->

      <ion-col size="3" class="task-heading" (click)="onClose()">
        <ion-button class="app-ion-button" fill="clear" title="{{ 'TREE_SELECT_CLOSE' | translate }}"  fill="clear">
          <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}close-circle-outline.svg" class="app-ion-icon-material"></ion-icon>
        </ion-button>
        <span class="label">{{ 'TASK_CLOSE' | translate }}</span>
      </ion-col>
    </ion-item>
  </div>

</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">

  <div *ngIf="nodeView && livingView">

    <ion-card-header class="card-header">
      &nbsp;{{ 'HILITE_INFO_LIVING' | translate }}
    </ion-card-header>

    <ion-row class="app-ion-row" (click)="onTemp()">
      <ion-col size="4">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'HILITE_YOB' | translate }}</ion-label>
        <ion-label class="ion-text-wrap app-ion-label">:&ensp;&ensp;<b>{{ !values.yob ? '' : values.yob.name }}</b></ion-label>
      </ion-col>
      <ion-col size="8">
        <div class="card-select-1">
          <ng-select 
            [items]="years" 
            bindLabel="name"
            placeholder="{{selectYearsPlaceholder}}"
            [(ngModel)]="values.yob"
            (clear)="clearYear('yob')"
            (close)="closeYear('yob')"
          >
          </ng-select>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="app-ion-row" (click)="onTemp()">
      <ion-col size="4">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'HILITE_POB' | translate }}</ion-label>
        <ion-label class="ion-text-wrap app-ion-label">:&ensp;&ensp;<b>{{ !values.pob ? '' : values.pob.name }}</b></ion-label>
      </ion-col>
      <ion-col size="8">
        <div class="card-select-1">
          <ng-select 
            [items]="locations" 
            bindLabel="name"
            placeholder="{{selectPlacesPlaceholder}}"
            [(ngModel)]="values.pob"
            (clear)="clearPlace('pob')"
            (close)="closePlace('pob')"
          >
          </ng-select>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="app-ion-row" (click)="onTemp()">
      <ion-col size="4">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'HILITE_POR' | translate }}</ion-label>
        <ion-label class="ion-text-wrap app-ion-label">:&ensp;&ensp;<b>{{ !values.por ? '' : values.por.name }}</b></ion-label>
      </ion-col>
      <ion-col size="8">
        <div class="card-select-1">
          <ng-select 
            [items]="locations" 
            bindLabel="name"
            placeholder="{{selectPlacesPlaceholder}}"
            [(ngModel)]="values.por"
            (clear)="clearPlace('por')"
            (close)="closePlace('por')"
          >
          </ng-select>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="app-ion-row" (click)="onTemp()">
      <ion-col size="4">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'HILITE_CAREER' | translate }}</ion-label>
        <ion-label class="ion-text-wrap app-ion-label">:&ensp;&ensp;<b>{{ !values.career ? '' : values.career.name }}</b></ion-label>
      </ion-col>
      <ion-col size="8">
        <div class="card-select-1">
          <ng-select 
            [items]="careers" 
            bindLabel="name"
            placeholder="{{selectCareersPlaceholder}}"
            [(ngModel)]="values.career"
            (clear)="clearPlace('career')"
            (close)="closePlace('career')"
          >
          </ng-select>
        </div>
      </ion-col>
    </ion-row>

  </div>
  
  <div *ngIf="nodeView && passingView">

    <ion-card-header class="card-header">
      &nbsp;{{ 'HILITE_INFO_PASSING' | translate }}
    </ion-card-header>

    <ion-row class="app-ion-row" (click)="onTemp()">
      <ion-col size="4">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'HILITE_YOD' | translate }}</ion-label>
        <ion-label class="ion-text-wrap app-ion-label">: &ensp;&ensp;<b>{{ !values.yod ? '' : values.yod.name }}</b></ion-label>
      </ion-col>
      <ion-col size="8">
        <div class="card-select-1">
          <ng-select 
            [items]="years" 
            bindLabel="name"
            placeholder="{{selectYearsPlaceholder}}"
            [(ngModel)]="values.yod"
            (clear)="clearYear('yod')"
            (close)="closeYear('yod')"
          >
          </ng-select>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="app-ion-row" (click)="onTemp()">
      <ion-col size="4">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'HILITE_DOD' | translate }}</ion-label>
        <ion-label class="ion-text-wrap app-ion-label">: &ensp;&ensp;<b>{{ (!values.dod_day ? '' : values.dod_day.name) + '/' + (!values.dod_month ? '' : values.dod_month.name) }}</b></ion-label>
      </ion-col>
      
      <ion-col size="4">
        <div class="card-select-1">
          <ng-select 
              [items]="days" 
              bindLabel="name"
              placeholder="{{selectDaysPlaceholder}}"
              [(ngModel)]="values.dod_day"
              (clear)="clearYear('dod_day')"
              (close)="closeYear('dod_day')"
            >
            </ng-select>
        </div>
      </ion-col>

      <ion-col size="4">
        <div class="card-select-1">
          <ng-select 
              [items]="months" 
              bindLabel="name"
              placeholder="{{selectMonthsPlaceholder}}"
              [(ngModel)]="values.dod_month"
              (clear)="clearYear('dod_month')"
              (close)="closeYear('dod_month')"
            >
            </ng-select>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="app-ion-row" (click)="onTemp()">
      <ion-col size="4">
        <ion-label class="ion-text-wrap app-ion-label">&#8226;&ensp;{{ 'HILITE_POD' | translate }}</ion-label>
        <ion-label class="ion-text-wrap app-ion-label">:&ensp;&ensp;<b>{{ !values.pod ? '' : values.pod.name }}</b></ion-label>
      </ion-col>
      <ion-col size="8">
        <div class="card-select-1">
          <ng-select 
            [items]="locations" 
            bindLabel="name"
            placeholder="{{selectPlacesPlaceholder}}"
            [(ngModel)]="values.pod"
            (clear)="clearPlace('pod')"
            (close)="closePlace('pod')"
          >
          </ng-select>
        </div>
      </ion-col>
    </ion-row>

  </div>

  <div *ngIf="nodeView && treeView">
    <ft-tree (onLeafSelected)="onLeafSelected($event)" [family]="familyView" [view]="treeView" [class]="treeClass"></ft-tree>
  </div>

</ion-content>
