<div class="{{class}}" id="{{class}}">
  <ul>
    <li>
      <div *ngFor="let node of family.nodes">
        <span 
          class="node"
          [ngClass]="node.relationship ? node.relationship + '-leaf' : ''"
          (click)="_leafSelected(node)" 
          [class]="node.nclass"
          id="{{node.id}}"
          [innerHtml]="node.span"
          >
        </span>
      </div>
      <ul *ngIf="family.children && family.children.length > 0">
        <li *ngFor="let child of family.children" [ngStyle]="{'width': _setWidth(child) ? '100%' : 'auto'}" >
          <ft-leaf (onLeafSelected)="_leafSelected($event)" [child]="child"></ft-leaf>
        </li>
      </ul>
    </li>
  </ul>
</div>