<ion-header>
  <div *ngIf="fullView">
    <ion-item class="app-ion-item">
      <ion-col size="3">
      </ion-col>
      <ion-col size="6">
        <ng-select #ngSelectPeople
          [appendTo]="'body'"
          [items]="images" 
          bindLabel="name" 
          bindValue="id"
          placeholder="{{selectPlaceholder}}"
          (close)="close()"
          (clear)="clear()"
          [(ngModel)]="selectedImage">
        </ng-select>
      </ion-col>
      <ion-col size="3">
      </ion-col>
    </ion-item>
  </div>

  <div *ngIf="itemView && idata && idata.type == 'people'">
    <ion-item class="app-ion-item">
      <ion-col size="4" class="task-heading" *ngIf="idata">
        <span class="label">{{ idata.imageTitle }}</span>
      </ion-col>
      <ion-col size="4" class="task-heading" (click)="show()">
        <ion-button class="app-ion-button" title="{{ 'ARCHIVE_HEADER_TOOLTIP_PEOPLE' | translate }}" fill="clear">
          <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}emoticon-neutral-outline.svg" class="app-ion-icon-material"></ion-icon>
        </ion-button>
        <span class="label">{{ 'TASK_PEOPLE' | translate }}</span>
      </ion-col>
      <ion-col size="4" class="task-heading" (click)="closeView()">
        <ion-button class="app-ion-button" fill="clear" title="{{ 'TREE_SELECT_CLOSE' | translate }}"  fill="clear">
          <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}close-circle-outline.svg" class="app-ion-icon-material"></ion-icon>
        </ion-button>
        <span class="label">{{ 'TASK_CLOSE' | translate }}</span>
      </ion-col>
    </ion-item>
  </div>

  <div *ngIf="itemView && idata && idata.type != 'people'">
    <ion-item class="app-ion-item">
      <ion-col size="6" class="task-heading" *ngIf="idata">
        <span class="label">{{ idata.imageTitle }}</span>
      </ion-col>
      <ion-col size="6" class="task-heading" (click)="closeView()">
        <ion-button class="app-ion-button" fill="clear" title="{{ 'TREE_SELECT_CLOSE' | translate }}"  fill="clear">
          <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}close-circle-outline.svg" class="app-ion-icon-material"></ion-icon>
        </ion-button>
        <span class="label">{{ 'TASK_CLOSE' | translate }}</span>
      </ion-col>
    </ion-item>
  </div>

</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">

  <div *ngIf="itemView && idata && idata.type == 'html'">
    <div class="app-ion-content">
      <ion-row class="archive-ion-row">
        <ion-col size="10">
          <ion-label>&#8226;&ensp;{{ idata.desc }}</ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-button class="app-ion-button" fill="clear" (click)="openWebpage(idata.url)">
            <ion-icon name="open" class="archive-icon"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="itemView && idata && idata.type == 'image'">
    <div class="app-ion-content" id="outer">
      <ion-row class="archive-ion-row" id="row">
        <ion-col size="12">
          <ion-label>&#8226;&ensp;{{ idata.desc }}</ion-label>
        </ion-col>
      </ion-row>
      <img id="image" src="{{idata.url}}" alt="&ensp;&ensp;&ensp;{{fileNotFoundText}}: {{idata.name}}"/>
    </div>

  </div>

  <div *ngIf="itemView && idata && idata.type == 'people'">
    <div class="app-ion-content" id="outer">
      <ion-row class="archive-ion-row" id="row">
        <ion-col size="12">
          <ion-label>&#8226;&ensp;{{ idata.desc }}</ion-label>
        </ion-col>
      </ion-row>
      <div *ngIf="showDetail">
        <div *ngFor="let area of idata.areas">
          <a id="{{area.domid}}" [ngStyle]="getAreaStyle(area)" (click)="displayText(area.text)"></a>
        </div>
      </div>
      <img id="image" src="{{idata.url}}" alt="&ensp;&ensp;&ensp;{{fileNotFoundText}}: {{idata.name}}"/>
    </div>
  </div>

</ion-content>

