<ion-header>
  <ion-item class="app-header" *ngIf="!ftTreeService.isMobilePlatform()">
		<ion-col size="1" class="heading" (click)="onExit()">
      <ion-button class="button" fill="clear" (click)="onExit()">
        <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}close-circle-outline.svg" class="icon"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="9">
      <ng-select
				class="mobileClass"
        [appendTo]="'body'"
        [items]="peopleNodes" 
        placeholder="{{selectPeoplePlaceholder}}"
        [(ngModel)]="selectPeople"
        (close)="closePeopleNodes()"
        (clear)="clearPeopleNodes()"
        (keyup)="keyupPeopleNodes($event)"
      >
      </ng-select>
    </ion-col>
		<ion-col size="1" class="heading">
			<ion-button class="button" fill="clear" (click)="ftTreeService.onZoomIn()">
				<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}magnify-minus-outline.svg" class="icon"></ion-icon>
			</ion-button>
		</ion-col>
		<ion-col size="1" class="heading">
			<ion-button class="button" fill="clear" (click)="ftTreeService.onZoomOut()">
				<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}magnify-plus-outline.svg" class="icon"></ion-icon>
			</ion-button>
		</ion-col>
  </ion-item>

	<ion-item class="app-header" *ngIf="ftTreeService.isMobilePlatform()">
		<ion-col size="1" class="heading" (click)="onExit()">
      <ion-button class="button" fill="clear" (click)="onExit()">
        <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}close-circle-outline.svg" class="icon"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="11">
      <ng-select
				class="mobileClass"
        [appendTo]="'body'"
        [items]="peopleNodes" 
        placeholder="{{selectPeoplePlaceholder}}"
        [(ngModel)]="selectPeople"
        (close)="closePeopleNodes()"
        (clear)="clearPeopleNodes()"
        (keyup)="keyupPeopleNodes($event)"
      >
      </ng-select>
    </ion-col>
  </ion-item>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="screen-node viewer-person-container" id="full-tree">

		<!-- <div class="view-person-photo-parent" *ngIf="selectedNode && (this.selectedNode.yod != '' || this.selectedNode.dod != '' || this.selectedNode.pod != '')"> -->
		<div class="view-person-photo-parent" *ngIf="selectedNode">
			<img class="image1" [src]="image1.url" [attr.width]="image1.w" [attr.height]="image1.h" />
			<img class="image2" [src]="image2.url" [attr.width]="image2.w" [attr.height]="image2.h" />
    </div>

		<p></p>
		<!-- <div class="screen-node" [ngStyle]="ftTreeService.getZoomStyle()"> -->
		<div class="person-tree-view" [ngStyle]="ftTreeService.getZoomStyle()">
			<ft-tree (onLeafSelected)="onLeafSelected($event)" [family]="familyView" [view]="viewMode" [class]="treeClass"></ft-tree>
		</div>

		<div *ngIf="selectedNode" class="home-text-apa2">{{ 'PERSON_INFO_PERSONAL' | translate }}</div>

		<ion-grid class="app-grid-small-no-header" *ngIf="selectedNode">
			<ion-row>
				<ion-col size="4" class="column center"><b>{{ 'NODE_YOB' | translate }}</b></ion-col>
				<ion-col size="8" class="column center"><b>{{ selectedNode.yob }}</b></ion-col>
			</ion-row>

			<div *ngIf="!pass_away">
				<ion-row>
					<ion-col size="4" class="column center"><b>{{ 'NODE_POR' | translate }}</b></ion-col>
					<ion-col size="8" class="column center"><b>{{ selectedNode.por }}</b></ion-col>
				</ion-row>
			</div>

			<div *ngIf="pass_away">
				<ion-row>
					<ion-col size="4" class="column center"><b>{{ 'NODE_YOD' | translate }}</b></ion-col>
					<ion-col size="8" class="column center"><b>{{ selectedNode.yod }}</b></ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="4" class="column center"><b>{{ 'NODE_TOMB' | translate }}</b></ion-col>
					<ion-col size="8" class="column center"><b>{{ selectedNode.pod }}</b></ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="4" class="column center"><b>{{ 'NODE_DOD' | translate }}</b></ion-col>
					<ion-col size="8" class="column center"><b>{{ selectedNode.dod }}</b></ion-col>
				</ion-row>
			</div>

		</ion-grid>
		<br/>
		<div id="detail-person"></div>
		
	</div>

</ion-content>