<ion-header>
    <ion-item class="app-ion-item">
      <ion-col size="3">
        <ion-title class="ion-text-center app-ion-title-small">{{ title }}</ion-title>
      </ion-col>
      <ion-col size="4">
        <ng-select #ngSelectPeople
          [appendTo]="'body'"
          [items]="peopleNodes" 
          bindLabel="name"
          placeholder="{{selectPeoplePlaceholder}}"
          [(ngModel)]="selectPeople"
          (clear)="clearPeopleNodes()"
          (close)="closePeopleNodes()"
        >
        </ng-select>
      </ion-col>
      <ion-col size="1">
      </ion-col>
      <ion-col size="2">
        <ion-title *ngIf="selectPeople" class="ion-text-center app-ion-title-small">{{ selectedNodeName }}</ion-title>
      </ion-col>
      <ion-col size="2">
        <ion-button *ngIf="selectPeople" class="app-ion-button" title="{{ 'EDITOR_HEADER_TOOLTIP_ADD' | translate }}" fill="clear" (click)="onAdd()">
          <ion-icon slot="icon-only" src="../../assets/fonts/account-plus-outline.svg" class="app-ion-icon-material"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-item>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">

  <ion-grid class="contact-grid">
    <ion-row>
      <ion-col size="1">
        {{ 'NODE_RELATION' | translate }}
      </ion-col>
      <ion-col size="1">
        {{ 'NODE_NAME' | translate }}
      </ion-col>
      <ion-col size="1">
        {{ 'NODE_GENDER' | translate }}
      </ion-col>
      <ion-col size="1">
        {{ 'NODE_YOB' | translate }} - {{ 'NODE_YOD' | translate }}
      </ion-col>
      <ion-col size="1">
        {{ 'NODE_DOD' | translate }}
      </ion-col>
      <ion-col size="1">
        {{ 'NODE_POB' | translate }} - {{ 'NODE_POD' | translate }}
      </ion-col>
      <ion-col size="1">
        {{ 'NODE_POR' | translate }}
      </ion-col>
      <ion-col size="1">
        {{ 'NODE_NICK' | translate }}
      </ion-col>
      <ion-col size="2">
        {{ 'NODE_DESC' | translate }}
      </ion-col>
      <ion-col size="1">
        {{ 'NODE_EDIT' | translate }}
      </ion-col>
      <ion-col size="1">
        {{ 'NODE_DELETE' | translate }}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let node of childNodes">
      <ion-col size="1"> {{ node.relation }} </ion-col>
      <ion-col size="1"> {{ node.name }} </ion-col>
      <ion-col size="1"> {{ node.genderText }} </ion-col>
      <ion-col size="1"> {{ node.yob }} - {{ node.yod }} </ion-col>
      <ion-col size="1"> {{ node.dod }} </ion-col>
      <ion-col size="1"> {{ node.pob }} - {{ node.pod }} </ion-col>
      <ion-col size="1"> {{ node.por }} </ion-col>
      <ion-col size="1"> {{ node.nick }} </ion-col>
      <ion-col size="2"> {{ node.desc }} </ion-col>
      <ion-col size="1"> 
        <ion-button class="app-ion-button" fill="clear" (click)="onEdit(node)">
          <ion-icon slot="icon-only" src="../../assets/fonts/account-edit-outline.svg" class="contact-icon-material"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="1"> 
        <ion-button class="app-ion-button" fill="clear" (click)="onDelete(node)">
          <ion-icon slot="icon-only" src="../../assets/fonts/account-remove-outline.svg" class="contact-icon-material"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>