<ion-header>
	<ion-item class="app-header">
		
		<ion-col size="1" class="heading" (click)="onExit()">
      <ion-button class="button" fill="clear">
        <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}close-circle-outline.svg" class="icon"></ion-icon>
      </ion-button>
    </ion-col>

		<ion-col size="10" >
			<ion-input clearInput
			class="header-input"
			[(ngModel)]="values.name"
			(keyup)="keyupItem($event, 'name')"
			trigger="click-trigger"
			title="{{ 'EDIT_NAME_TOOLTIP' | translate }}"
			>
			</ion-input>
			<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
				<ng-template>
					<ion-content class="ion-padding ng-select-popover">
						<ion-item *ngFor="let name of searchNames" (click)="onName(name)">
							<ion-button class="button" fill="clear">{{name}}</ion-button>
						</ion-item>
					</ion-content>
				</ng-template>
			</ion-popover>
    </ion-col>
		<ion-col size="1" >
		</ion-col>
  </ion-item>

</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
	<div class="screen-node editor">
		<div id="detail"></div>
	</div>
</ion-content>
