<ion-header>
  <ion-item class="header-top">

		<!-- <div *ngIf="compareMode"> -->
			<ion-col *ngIf="compareMode" size="4" class="heading">
				<span class="label">{{ message }}</span>
			</ion-col>
		<!-- </div> -->
		
		<!-- <div *ngIf="compareMode && compareCount > 0"> -->
			<ion-col *ngIf="compareMode && compareCount > 0" size="4" class="heading" (click)="compareSetSyncFamily()">
				<ion-button class="button" fill="clear">
					<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-replace-outline.svg" class="icon"></ion-icon>
				</ion-button>
				<span class="label">{{ 'FILE_COMPARE' | translate }}</span>
			</ion-col>
		<!-- </div> -->

		<!-- <div *ngIf="compareMode && compareCount == 0"> -->
				<ion-col *ngIf="compareMode && compareCount == 0" size="4" class="heading">
				</ion-col>
		<!-- </div> -->

		<!-- <div *ngIf="!compareMode"> -->
			<ion-col *ngIf="!compareMode" size="8">
			</ion-col>
		<!-- </div> -->

		<ion-col size="4" class="heading" title="{{ 'FILE_MANAGE_TOOLTIP' | translate }}" (click)="onManageFiles()">
      <ion-button class="button" fill="clear">
        <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-replace-outline.svg" class="icon"></ion-icon>
      </ion-button>
      <span class="label">{{ 'FILE_MANAGE' | translate }}</span>
    </ion-col>
	</ion-item> 
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
<div class="screen-file file">

	<div *ngIf="compareMode">
    <ion-grid class="grid" *ngIf="!rootChanged">
      <ion-row>
        <ion-col size="4" class="column">
          {{ 'FILE_COMPARE_NAME' | translate }}
        </ion-col>
        <ion-col size="2" class="column">
          {{ 'FILE_COMPARE_DETAIL' | translate }}
        </ion-col>
        <ion-col size="2" class="column">
          {{ 'FILE_COMPARE_LOCAL' | translate }} &nbsp;(D.{{modVersion}})
        </ion-col>
        <ion-col size="2" class="column">
          {{ 'FILE_COMPARE_SOURCE' | translate }} &nbsp;(D.{{srcVersion}})
        </ion-col>
        <ion-col size="2" *ngIf="compareResults.length > 0" class="column">
          {{ 'FILE_COMPARE_NEW_OK_1' | translate }}
          &nbsp;<ion-checkbox checked="false" (ionChange)="compareOnCheckAll($event)"></ion-checkbox>
					&nbsp;{{ 'FILE_COMPARE_NEW_OK_2' | translate }}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let row of compareResults">
        <ion-col size="4" class="column"> {{ row.name }} </ion-col>
        <ion-col size="2" class="column"> {{ row.label }} </ion-col>
        <ion-col size="2" class="column"> {{ row.new }} </ion-col>
        <ion-col size="2" class="column"> {{ row.old }} </ion-col>
        <ion-col size="2" class="column">
          <ion-checkbox checked="{{row.select}}" (ionChange)="compareOnCheck($event, row)"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
	</div>

	<div *ngIf="manageMode">
		<ion-grid class="grid">
			<ion-row>
        <ion-col size="6" class="column">
					<span class="label">{{ 'FILE_EXPLAIN' | translate }}</span>
        </ion-col>
				<ion-col size="6" class="column">
					<span class="label">{{ 'FILE_ACTION' | translate }}</span>
        </ion-col>
      </ion-row>
			
			<ion-row >
        <ion-col size="6" class="column">
					<span class="label">{{ 'FILE_DOWNLOAD' | translate }} (Files: {{downloadFileName}},{{downloadDocsName}})</span>
        </ion-col>
				<ion-col size="6" class="column"> 
          <ion-button class="button" fill="clear" (click)="downloadOnClick()">
            <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
          </ion-button>
					<a id="modify-download" [href]="downloadFileUrl" download="{{downloadFileName}}" style="display:none;"></a>
					<a id="modify-download-docs" [href]="downloadDocsUrl" download="{{downloadDocsName}}" style="display:none;"></a>
					<span class="label">{{ 'FILE_DOWNLOAD_START' | translate }}</span>
        </ion-col>
      </ion-row>
			
			<ion-row>
        <ion-col size="6" class="column">
					<span class="label">{{ 'FILE_UPLOAD' | translate }}</span>
        </ion-col>
				<ion-col size="6" class="column">
					<ion-button class="button" fill="clear" (click)="uploadOnClick()">
            <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
          </ion-button>
					<input id="modify-upload" type="file" (change)="uploadOnFileSelect($event)" style="display:none;" title=" " accept=".json"/>
					<span class="label">{{ 'FILE_UPLOAD_START' | translate }}</span>
        </ion-col>
      </ion-row>

			<ion-row>
				<ion-col size="6" class="column">
					<span class="label">{{ 'FILE_PHOTO' | translate }}</span>
				</ion-col>
				<ion-col size="6" class="column">
					<ion-button class="button" fill="clear" (click)="photoCreate(true)">
            <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
          </ion-button>
					<span class="label">{{ 'FILE_PHOTO_ADD' | translate }}</span>
				</ion-col>
			</ion-row>

			<ion-row>
        <ion-col size="6" class="column">
					<span class="label">{{ 'FILE_IMAGE' | translate }}</span>
        </ion-col>
				<ion-col size="6" class="column">
					<ion-button class="button" fill="clear" (click)="imageOnClick(true)">
            <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
          </ion-button>
					<span class="label">{{ 'FILE_IMAGE_ADD' | translate }}</span>
				</ion-col>
      </ion-row>
			
			<ion-row>
        <ion-col size="6" class="column">
					<span class="label">{{ 'FILE_STORAGE' | translate }}</span>
        </ion-col>
				<ion-col size="6" class="column">
					<ion-button class="button" fill="clear" (click)="storageReadFiles()">
            <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
          </ion-button>
					<span class="label">{{ 'FILE_STORAGE_READ' | translate }}</span>
				</ion-col>
      </ion-row>

    </ion-grid>
		<!-- </div> -->
	</div>

	<input id="photo-image" type="file" (change)="photoGetFile($event)" title=" " accept=".png, .jpg, .jpeg" style="display:none;"/>

	<div *ngIf="photoMode">

		<ion-grid class="grid">
      <ion-row>
        <ion-col size="6" class="column">
					<span class="label">{{ 'FILE_PHOTO' | translate }}</span>
        </ion-col>
				<ion-col size="6" class="column">
					<ion-button class="button" fill="clear" (click)="photoCreate(false)">
            <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
          </ion-button>
					<span class="label">{{ 'FILE_PHOTO_ADD' | translate }}</span>
				</ion-col>
      </ion-row>
    </ion-grid>
		<br/>

		<ion-grid class="grid">
      <ion-row>
        <ion-col size="4" class="column">
					<span class="label">{{ 'FILE_PHOTO_MODIFY' | translate }}</span>
        </ion-col>
        <ion-col size="4" class="column">
					<span class="label">{{ 'FILE_PHOTO_DELETE' | translate }}</span>
        </ion-col>
        <ion-col size="4" class="column">
					<span class="label">{{ 'FILE_PHOTO_UPLOAD' | translate }}</span>
        </ion-col>
      </ion-row>
			
			<ion-row>
				<ion-col size="4" *ngIf="photoBase64 != ''" class="column"> 
          <ion-button class="button" fill="clear" (click)="photoEdit()">
						<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
					</ion-button>
        </ion-col>
				<ion-col size="4" *ngIf="photoBase64 != ''" class="column"> 
          <ion-button class="button" fill="clear" (click)="photoDelete()">
						<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
					</ion-button>
        </ion-col>
				<ion-col size="4" *ngIf="photoBase64 != '' && photo != ''" class="column"> 
          <ion-button class="button" fill="clear" (click)="photoSave()">
						<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
					</ion-button>
        </ion-col>
			</ion-row>
    </ion-grid>
		
		<form *ngIf="photoBase64 != ''">
			<p></p>
			<p style="text-align:center;">{{photo}}</p>
			<p></p>
			<img [src]="photoBase64" width="500" height="400" style="display: block; margin-left: auto; margin-right: auto;" alt="{{photo}}" />
		</form>
	</div>

	<input id="modify-image" type="file" (change)="imageOnSelect($event)" multiple title=" " accept=".png, .jpg, .jpeg" style="display:none;"/>

	<div *ngIf="imageMode">

		<ion-grid class="grid">
      <ion-row>
        <ion-col size="6" class="column">
					<span class="label">{{ 'FILE_IMAGE' | translate }}</span>
        </ion-col>
				<ion-col size="6" class="column">
					<ion-button class="button" fill="clear" (click)="imageOnClick(false)">
            <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
          </ion-button>
					<span class="label">{{ 'FILE_IMAGE_ADD' | translate }}</span>
				</ion-col>
      </ion-row>
    </ion-grid>
		<br/>

    <ion-grid class="grid">
      <ion-row>
        <ion-col size="3" class="column">
					<span class="label">{{ 'FILE_IMAGE_NAME' | translate }}</span>
        </ion-col>
        <ion-col size="3" class="column">
					<span class="label">{{ 'FILE_IMAGE_SIZE' | translate }}</span>
        </ion-col>
        <ion-col size="2" class="column">
					<span class="label">{{ 'FILE_IMAGE_IGNORE' | translate }}</span>
        </ion-col>
        <ion-col size="2" class="column">
					<span class="label">{{ 'FILE_IMAGE_VIEW' | translate }}</span>
        </ion-col>
        <ion-col size="2" class="column">
					<span class="label">{{ 'FILE_IMAGE_UPLOAD' | translate }}</span>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let file of imageFiles">
        <ion-col size="3" class="column">
					<span class="label">{{ file.name }}</span>
				</ion-col>
        <ion-col size="3" class="column">
					<span class="label">{{ file.size }}</span>
				</ion-col>
        <ion-col size="2" class="column"> 
          <ion-button fill="clear" (click)="imageOnDelete(file)">
            <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2" class="column"> 
          <ion-button class="button" fill="clear" (click)="imageOnView(file)">
            <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2" class="column"> 
          <ion-button class="button" fill="clear" (click)="imageOnUpload(file)">
            <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-replace-outline.svg" class="icon"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

		<form *ngIf="imageFileName != ''">
			<p></p>
			<p style="text-align:center;">{{imageFileName}}</p>
			<p></p>
			<img id="image-view" src="" width="500" height="400" style="display: block; margin-left: auto; margin-right: auto;" alt="{{imageFileName}}" />
		</form>
	</div>

	<div *ngIf="storageMode">

		<ion-grid class="grid">
      <ion-row>
        <ion-col size="6" class="column">
					<span class="label">{{ 'FILE_STORAGE' | translate }}</span>
        </ion-col>
				<ion-col size="6" class="column">
					<ion-button class="button" fill="clear" (click)="storageReadFiles()">
            <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
          </ion-button>
					<span class="label">{{ 'FILE_STORAGE_READ' | translate }}</span>
				</ion-col>
      </ion-row>
    </ion-grid>
		<br/>
		
    <ion-grid class="grid">
      <ion-row>
        <ion-col size="3" class="column">
					<span class="label">{{ 'FILE_STORAGE_HEADER' | translate }}</span>
        </ion-col>
        <ion-col size="3" class="column">
					<span class="label">{{ 'FILE_STORAGE_SIZE' | translate }}</span>
        </ion-col>
        <ion-col size="2" class="column">
					<span class="label">{{ 'FILE_STORAGE_TYPE' | translate }}</span>
        </ion-col>
        <ion-col size="2" class="column">
					<span class="label">{{ 'FILE_STORAGE_DELETE' | translate }}</span>
        </ion-col>
        <ion-col size="2" class="column">
					<span class="label">{{ 'FILE_STORAGE_VIEW' | translate }}</span>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let file of storageFiles">
        <ion-col size="3" class="column"> {{ file.name }} </ion-col>
        <ion-col size="3" class="column"> {{ file.size }} </ion-col>
        <ion-col size="2" class="column"> {{ file.type }} </ion-col>
        <ion-col size="2" class="column"> 
          <ion-button class="button" fill="clear" (click)="storageOnDelete(file)">
            <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2" class="column"> 
          <ion-button class="button" fill="clear" (click)="storageOnView(file)">
            <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-edit-outline.svg" class="icon"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

		<form *ngIf="storageFileName != ''">
			<p></p>
			<p style="text-align:center;">{{storageFileName}}</p>
			<p></p>
			<img id="storage-view" src="#" width="500" height="400" style="display: block; margin-left: auto; margin-right: auto;" alt="{{storageFileName}}" />
		</form>

	</div>
	
</div>
</ion-content>
