// ion-content {
//   --background: none;
//   background-image: var(--url-ion-content-20);
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.card-header{
  background: var(--app-background-color);
  color: white;
  font-size: var(--app-text-font-size-medium);
  height:26px;
	margin-top: 10px;
	margin-bottom: 10px;
  position: relative; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.app-ion-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contact-grid-small {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;
  font-size: var(--app-text-font-size-tiny);
  
  ion-row:first-child {
    // background-color:  #2dd36f;
    font-weight: bold;
    color: white;
    background-color: var(--app-background-color);
		font-size: var(--app-text-font-size-tiny);

  }
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
}

.contact-grid {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;
	font-size: var(--app-text-font-size-small);

  
  ion-row:first-child {
    // background-color:  #2dd36f;
    font-weight: bold;
    color: white;
    background-color: var(--app-background-color);
		font-size: var(--app-text-font-size-small);

  }
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
}

