<ion-header>

  <ion-item class="header-top">
    <ion-col size="6" class="heading" (click)="onSync()">
      <ion-button class="button" fill="clear">
        <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-replace-outline.svg" class="icon"></ion-icon>
      </ion-button>
      <span class="label">{{ 'FILE_NODE' | translate }}</span>
    </ion-col>
    <!-- <ion-col size="6" class="heading" (click)="onSync()">
      <ion-button class="button" fill="clear">
        <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-replace-outline.svg" class="icon"></ion-icon>
      </ion-button>
      <span class="label">{{ 'FILE_NOTE' | translate }}</span>
    </ion-col> -->
  </ion-item> 

  <ion-item class="header-bottom" *ngIf="rootChanged">
    <ion-col size="6" class="heading">
      <span class="label" [innerHtml]="message"></span>
    </ion-col>
    <ion-col size="6" class="heading" (click)="setSyncFamily()">
      <ion-button class="button" fill="clear">
        <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-replace-outline.svg" class="icon"></ion-icon>
      </ion-button>
      <span class="label">{{ 'UPDATE' | translate }}</span>
    </ion-col>
  </ion-item>

  <ion-item class="header-bottom" *ngIf="!rootChanged">
    <ion-col size="6" class="heading">
      <span class="label">{{ message }}</span>
    </ion-col>
    <ion-col size="6" *ngIf="compareResults.length > 0" class="heading" (click)="setSyncFamily()">
      <ion-button class="button" fill="clear">
        <ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-replace-outline.svg" class="icon"></ion-icon>
      </ion-button>
      <span class="label">{{ 'UPDATE' | translate }}</span>
    </ion-col>
  </ion-item>
  
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <div class="screen-file">

    <ion-grid class="grid" *ngIf="!rootChanged">
      <ion-row>
        <ion-col size="4" class="center">
          {{ 'FILE_NAME' | translate }}
        </ion-col>
        <!-- <ion-col size="2" class="center">
          {{ 'FILE_STATUS' | translate }}
        </ion-col> -->
        <ion-col size="2" class="center">
          {{ 'FILE_TYPE' | translate }}
        </ion-col>
        <ion-col size="2" class="center">
          {{ 'FILE_OLD' | translate }} &nbsp;(D.{{srcVersion}})
        </ion-col>
        <ion-col size="2" class="center">
          {{ 'FILE_NEW' | translate }} &nbsp;(D.{{modVersion}})
        </ion-col>
        <ion-col size="2" *ngIf="compareResults.length > 0" class="center">
          {{ 'FILE_NEW_OK' | translate }}
          &nbsp;&nbsp;<ion-checkbox checked="false" (ionChange)="onCheckAll($event)"></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let row of compareResults">
        <ion-col size="4" class="center"> {{ row.name }} </ion-col>
        <ion-col size="2" class="ion-text-center"> {{ row.label }} </ion-col>
        <ion-col size="2" class="ion-text-center"> {{ row.old }} </ion-col>
        <ion-col size="2" class="ion-text-center"> {{ row.new }} </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-checkbox checked="{{row.select}}" (ionChange)="onCheck($event, row)"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
</ion-content>
