
.card-header{
  background: #f4f5f8;
  color: #3880ff;
  font-weight: bold;
  font-size: 18px;
	margin-top: 16px;
	margin-bottom: 8px;
}

.card-label{
  font-weight: bold;
	margin-top: 16px;
	// margin-bottom: 8px;
}

// .card-input{
// 	margin-top: 2px;
// 	// margin-bottom: 8px;
// }

// .card-select{
// 	margin-top: 8px;
// 	// margin-bottom: 8px;
// }
