<ion-header>
  <ion-item class="app-ion-item">
      <ion-col size="7">
        <ion-title class="ion-text-center ion-text-wrap app-ion-title">{{ title }}</ion-title>
      </ion-col>
      <ion-col size="5">
        <ion-button class="app-ion-button" fill="clear" (click)="onChild()">
          <ion-icon slot="icon-only" name="person-add" class="app-ion-icon"></ion-icon>
        </ion-button>
        <ion-button class="app-ion-button" fill="clear" (click)="onImage()">
          <ion-icon slot="icon-only" name="image" class="app-ion-icon"></ion-icon>
        </ion-button>
        <ion-button class="app-ion-button" fill="clear" (click)="onDelete()">
          <ion-icon slot="icon-only" name="trash" class="app-ion-icon"></ion-icon>
        </ion-button>
      <!-- </ion-col> -->
      <!-- <ion-col size="2"> -->
          <ion-button class="app-ion-button" fill="clear" (click)="onSave()">
            <ion-icon slot="icon-only" name="save" class="app-ion-icon"></ion-icon>
          </ion-button>
          <ion-button class="app-ion-button" fill="clear" (click)="onCancel()">
            <ion-icon slot="icon-only" name="close" class="app-ion-icon"></ion-icon>
          </ion-button>
      </ion-col>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  
  <div class="app-ion-content">
    <ion-card-header class="card-header">
    &nbsp;{{ 'NODE_GROUP_NAME' | translate }}
    </ion-card-header>

    <ion-label class="card-label">{{ 'NODE_NAME' | translate }}</ion-label>
    <ion-input class="card-input" type="text" [(ngModel)]="values.name" placeholder="{{ 'NODE_NAME_PLACEHOLDER' | translate }}" clearInput></ion-input>
    <ion-label class="card-label">{{ 'NODE_NICK' | translate }}</ion-label>
    <ion-input class="card-input" type="text" [(ngModel)]="values.nick" placeholder="{{ 'NODE_NICK_PLACEHOLDER' | translate }}" clearInput></ion-input>
    <ion-label class="card-label">{{ 'NODE_GENDER' | translate }}</ion-label>
    <div class="card-select-1">
      <ng-select 
        [items]="genders" 
        (close)="closeGender()"
        bindLabel="name"
        bindValue="id"
        [(ngModel)]="values.gender">
      </ng-select>
    </div>
    <ion-label class="card-label">{{ 'NODE_DOD' | translate }}</ion-label>
    <ion-input class="card-input" type="text" [(ngModel)]="values.dod" placeholder="{{ 'NODE_DOD_PLACEHOLDER' | translate }}" clearInput></ion-input>
    <ion-label class="card-label">{{ 'NODE_DESC' | translate }}</ion-label>
    <ion-textarea class="card-textarea" type="text" rows="3" autosize [(ngModel)]="values.desc" placeholder="{{ 'NODE_DESC_PLACEHOLDER' | translate }}"></ion-textarea>

    <ion-card-header class="card-header">
    &nbsp;{{ 'NODE_GROUP_TIME' | translate }}
    </ion-card-header>
    <ion-label class="card-label">{{ 'NODE_YOB' | translate }}</ion-label>
    <ion-input class="card-input" type="text" [(ngModel)]="values.yob" placeholder="{{ 'NODE_YOB_PLACEHOLDER' | translate }}" clearInput></ion-input>
    <ion-label class="card-label">{{ 'NODE_YOD' | translate }}</ion-label>
    <ion-input class="card-input" type="text" [(ngModel)]="values.yod" placeholder="{{ 'NODE_YOD_PLACEHOLDER' | translate }}" clearInput></ion-input>
 
    <ion-card-header class="card-header">
      &nbsp;{{ 'NODE_GROUP_PLACE' | translate }}
    </ion-card-header>
    <ion-label class="card-label">{{ 'NODE_POB' | translate }}</ion-label>
    <div class="card-select-1">
      <ng-select
        [items]="places | async" 
        bindLabel="name"
        notFoundText="{{selectPlacesNotFoundText}}"
        placeholder="{{selectPlacesPlaceholder}}"
        [(ngModel)]="values.pob"
        (focus)="focus('pob')"
        (blur)="blur()"
        (close)="closePlace()"
        (clear)="clear()"
        (search)="search($event)"
        (keyup)="keyup($event, 'places')">
      </ng-select>
    </div>

    <ion-label class="card-label">{{ 'NODE_POD' | translate }}</ion-label>
    <div class="card-select-1">
      <ng-select
        [items]="places | async" 
        bindLabel="name"
        notFoundText="{{selectPlacesNotFoundText}}"
        placeholder="{{selectPlacesPlaceholder}}"
        [(ngModel)]="values.pod"
        (focus)="focus('pod')"
        (blur)="blur()"
        (close)="closePlace()"
        (clear)="clear()"
        (search)="search($event)"
        (keyup)="keyup($event, 'places')">
      </ng-select>
    </div>
    
    <ion-label class="card-label">{{ 'NODE_POR' | translate }}</ion-label>
    <div class="card-select">
      <ng-select
        [items]="places | async"
        bindLabel="name"
        notFoundText="{{selectPlacesNotFoundText}}"
        placeholder="{{selectPlacesPlaceholder}}"
        [(ngModel)]="values.por"
        (focus)="focus('por')"
        (blur)="blur()"
        (close)="closePlace()"
        (clear)="clear()"
        (search)="search($event)"
        (keyup)="keyup($event, 'places')">
      </ng-select>
    </div>
  </div>

</ion-content>
