<ion-header>
  <ion-toolbar color="primary">
    <ion-title size="large" class="ion-text-center">{{ node.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDelete()">
        <ion-icon name="trash" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="onCancel()">
        <ion-icon name="close" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <form [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    
    <ion-card-header class="card-header">
      {{ 'NODE_GROUP_NAME' | translate }}
    </ion-card-header>

    <ion-label class="card-label">{{ 'NODE_NAME' | translate }}</ion-label>
    <ion-input type="text" formControlName="name" placeholder="{{ 'NODE_NAME_PLACEHOLDER' | translate }}" clearInput></ion-input>
    <ion-label class="card-label">{{ 'NODE_NICK' | translate }}</ion-label>
    <ion-input type="text" formControlName="nick" placeholder="{{ 'NODE_NICK_PLACEHOLDER' | translate }}" clearInput></ion-input>
    <ion-label class="card-label">{{ 'NODE_GENDER' | translate }}</ion-label>
    <ng-select 
      [items]="genders" 
      (close)="closeGender()"
      bindLabel="name"
      bindValue="id"
      formControlName="gender"
      [(ngModel)]="selectGender">
    </ng-select>
    
    <ion-card-header class="card-header">
      {{ 'NODE_GROUP_TIME' | translate }}
    </ion-card-header>
    <ion-label class="card-label">{{ 'NODE_YOB' | translate }}</ion-label>
    <ion-input type="text" formControlName="yob" placeholder="{{ 'NODE_YOB_PLACEHOLDER' | translate }}" clearInput></ion-input>
    <ion-label class="card-label">{{ 'NODE_YOD' | translate }}</ion-label>
    <ion-input type="text" formControlName="yod" placeholder="{{ 'NODE_YOD_PLACEHOLDER' | translate }}" clearInput></ion-input>
 
    <ion-card-header class="card-header">
      {{ 'NODE_GROUP_PLACE' | translate }}
    </ion-card-header>
    <ion-label class="card-label">{{ 'NODE_POB' | translate }}</ion-label>
    <ng-select
      [items]="places | async" 
      bindLabel="name"
      formControlName="pob"
      [(ngModel)]="placeData.pob.name"
      (focus)="focus('pob')"
      (close)="closePlace()"
      (search)="search($event)"
      (keyup)="keyup($event, 'places')">
    </ng-select>
    <ion-label class="card-label">{{ 'NODE_POD' | translate }}</ion-label>
    <ng-select
      [items]="places | async" 
      bindLabel="name"
      formControlName="pod"
      [(ngModel)]="placeData.pod.name"
      (focus)="focus('pod')"
      (close)="closePlace()"
      (search)="search($event)"
      (keyup)="keyup($event, 'places')">
    </ng-select>
    <ion-label class="card-label">{{ 'NODE_POR' | translate }}</ion-label>
    <ng-select
      [items]="places | async"
      bindLabel="name"
      formControlName="por"
      [(ngModel)]="placeData.por.name"
      (focus)="focus('por')"
      (close)="closePlace()"
      (search)="search($event)"
      (keyup)="keyup($event, 'places')">
    </ng-select>
    <ion-card-header class="card-header">
      {{ 'NODE_GROUP_TREE' | translate }}
    </ion-card-header>
    <ion-label class="card-label">{{ 'NODE_CHILD' | translate }}</ion-label>
    <ion-input type="text" formControlName="child" placeholder="{{ 'NODE_CHILD_PLACEHOLDER' | translate }}" clearInput></ion-input>
    <ion-label class="card-label">{{ 'NODE_SPOUSE' | translate }}</ion-label>
    <ion-input type="text" formControlName="spouse" placeholder="{{ 'NODE_SPOUSE_PLACEHOLDER' | translate }}" clearInput></ion-input>

    <ion-button type="submit" expand="block" fill="outline" [disabled]="!validationsForm.valid">{{ 'NODE_SUBMIT' | translate }}</ion-button>

  </form>
</ion-content>
