/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// http://ionicframework.com/docs/theming/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// EXTRA GLOBAL STYLES
// Add custom Ionic Colors
@import "theme/custom-ion-colors.scss";
// Add base app styles
@import "theme/app-defaults.scss";
// Add base shell styles
@import "theme/shell-defaults.scss";

// PROJECT GLOBAL STYLES

@import "~@ng-select/ng-select/themes/default.theme.css";

// --- app ---

.app-ion-content {
	position: relative;
}

.app-ion-content::before {
	content: "";
	background-image: url("./assets/imgs/dragon.webp");
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.20;
}

.app-ion-title {
  font-size: 18px;
  color: yellow;
  font-weight: italic;
}

.app-ion-icon {
  font-size: 24px;
  color: yellow;
}

.app-ion-button {
  --padding-start: 5px;
  --padding-end: 5px;
}

.app-ion-item {
  --background: url("./assets/imgs/image-1.jpg") center / 100%;
  // --background: url("./assets/imgs/dragon.webp") center / 100%;
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-padding-top: 0px;
  --inner-padding-bottom: 0px;
}

// --- tab ---

.tab-icon {
  font-size: 24px;
  color: yellow;
}

.tab-label {
  font-size: 14px;
  color: yellow;
}

// --- home ---

.home-scroll {
	// overflow: auto;
  // overflow-wrap: break-word;
  word-wrap: break-word;
}

// .home-ion-grid-1 {
//   height:200px;
// 	width: 1000px;
// 	position: relative;
//   // word-wrap: break-word;
// }

// .home-ion-grid-2 {
//   height:300px;
// 	width: 1000px;
// 	position: relative;
// }

.home-guide-tab {
  background: #C10100; 
  width: 100px; 
  display: flex; 
  align-items: center;
}

.home-guide-icon-select {
  background: #C10100;
  font-size: 18px;
  color: white;
  margin-left:20px;
}

.home-guide-icon {
  background: #C10100;
  font-size: 18px;
  color: yellow;
  margin-left:20px;
}

.home-guide-label-first {
  margin-left:20px;
}

.home-guide-label {
  margin-left:60px;
}

// --- archive ---

.archive-icon {
  font-size: 18px;
  color: yellow;
  background: #C10100; 
}

// --- contact ---

.contact-icon {
  font-size: 18px;
  color: yellow;
  background: #C10100; 
}

// .contact-ion-grid {
// 	height: 100%;
// }

// .contact-table-header {
// 	color: white;
// 	background-color: #C10100;
// 	font-weight: bold;
// 	font-size: 14px;
// 	display: flex;
// 	align-items: center;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	z-index: 9999;
// }

// .contact-table-border {
// 	padding-top: 12px;
// }

// .contact-table-content {
// 	font-size: 14px;
// 	border: 1px solid grey;
// }

.contact-ion-grid-new {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;
	font-size: 14px;
  
  ion-row:first-child {
    // background-color:  #2dd36f;
    font-weight: bold;
    color: white;
    background-color: #C10100;
    font-size: 14px;
  }
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
}

.contact-ion-grid-two {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;
	font-size: 14px;
  ion-row {
    // background-color:  #2dd36f;
    font-weight: bold;
    color: white;
    background-color: #C10100;
    font-size: 14px;
  }
}

.contact-ion-grid-one {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;
  // ion-col {
  //   border: 1px solid black;
  //   // border-bottom: 0;
  //   // border-right: 1px solid black;
  // }
  ion-row {
    border: 1px solid #C10100;
    font-size: 14px;
    // border-top: 1px solid black;
    // border-bottom: 1px solid black;
  }
}

// --- util ---

.alert-small {
// --background: url("./assets/imgs/dragon.webp") top / 100%;
  --height: 400px;
//   --height: 500px;
  .alert-wrapper {
    min-width: 350px !important;
//  min-width: 500px !important;
    .alert-button:first-child {
      color: grey;
    }
    .alert-head {
      // header styling here eg. background
      margin-top: 10px;
      margin-bottom: 10px;
      h2 {
        color: white;
        background-color: #C10100;
        font-weight: bold;
        font-size: 14px;
      }
    }
    .alert-button-group {
      justify-content: center;
    }
  }
}

// --- card ---

.card-header{
  background: #C10100;
  color: white;
  font-size: 18px;
  height:30px;
	margin-top: 10px;
	margin-bottom: 10px;
  position: relative; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.card-label{
  font-weight: bold;
}

.card-input{
	margin-top: 8px;
	border: solid 1px grey;
	margin-bottom: 8px;
}

.card-textarea{
	margin-top: 8px;
	border: solid 1px grey;
	margin-bottom: 8px;
}

.card-select{
	margin-top: 8px;
}

.card-select-1{
	margin-top: 8px;
	margin-bottom: 8px;
}
