/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// http://ionicframework.com/docs/theming/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// EXTRA GLOBAL STYLES
// Add custom Ionic Colors
@import "theme/custom-ion-colors.scss";
// Add base app styles
@import "theme/app-defaults.scss";
// Add base shell styles
@import "theme/shell-defaults.scss";

// PROJECT GLOBAL STYLES
@import "~@ng-select/ng-select/themes/default.theme.css";

// --- color ---

// $base_color: yellow;
// $base_background_color: #C10100;

$background_color_male: lightblue;  // primary
$background_color_female: lightpink;
$background_color_select: lightgreen; // success
$background_color_not_complete: lightyellow; // warning in variables.css

$text_font_size_large: 20px;
$text_font_size_medium: 18px;
$text_font_size_small: 16px;
$text_font_size_tiny: 14px;

$icon_font_size_large: 24px;
$icon_font_size_small: 18px;

// --- app ---

.app-ion-content {
	position: relative;
}

.app-ion-content::before {
	content: "";
  background-image: var(--url-ion-content);
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.20;
}

.app-ion-title {
  font-size: $text_font_size_medium;
  color: var(--app-color);
}

.app-ion-icon {
  font-size: $icon_font_size_large;
  color: var(--app-color);
}

.app-ion-icon-small {
  font-size: $icon_font_size_small;
  color: var(--app-color);
}

.app-ion-button {
  --padding-start: 5px;
  --padding-end: 5px;
}

.app-ion-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.app-ion-label {
  font-size: $text_font_size_small;
}

.app-ion-item {
  // --background: var(--url-ion-item) center / 100%;
  // --background: url("./assets/imgs/dragon.webp") center / 100%;
  --background: var(--app-background-color) center / 100%;
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-padding-top: 0px;
  --inner-padding-bottom: 0px;
}

// --- tab ---

ion-tab-bar {
  // --background: var(--url-ion-tab-bar) center / 100%;
  --background: var(--app-background-color) center / 100%;
  height: 50px;
  display: flex; 
  align-items: center;
}

ion-tab-button {
  --color: var(--ion-color-medium-shade);
  --color-selected: var(--ion-color-dark);
	flex-direction: row;
}

.tab-button-center {
  display: flex;
  align-items: center;
}

.tab-icon {
  font-size: $icon_font_size_large;
  color: var(--app-color);
}

.tab-label {
  font-size: $text_font_size_tiny;
  color: var(--app-color);
}

// --- home ---

.home-scroll {
  word-wrap: break-word;
}

.home-guide-section {
  background: var(--app-background-color);
  color: white;
  width: 180px;
  font-size: $text_font_size_small;
  display: flex; 
  align-items: center;
  margin-left:10px;
}

.home-guide-tab-symbol {
  margin-left:20px;
  margin-top:5px;
  margin-bottom:5px;
  .tab {
    background: var(--app-background-color);
    width: 100px; 
    display: flex; 
    align-items: center;
    .icon {
      font-size: $icon_font_size_large;
      color: var(--app-color);
    }
    .label {
      font-size: $text_font_size_tiny;
      color: var(--app-color);
    }
  }
}

.home-guide-icon-symbol {
  margin-left:40px;
  .label {
    font-size: $text_font_size_tiny;
  }
  .icon {
    background: var(--app-background-color);
    font-size: $icon_font_size_small;
    color: var(--app-color);
  }
  .icon-normal {
    background: var(--app-background-color);
    font-size: $icon_font_size_small;
    color: white;
  }
  .icon-select {
    background: var(--app-background-color);
    font-size: $icon_font_size_small;
    color: lightgreen;
  }
  .icon-male {
    background: var(--app-background-color);
    font-size: $icon_font_size_small;
    color: lightblue;
  }
  .icon-female {
    background: var(--app-background-color);
    font-size: $icon_font_size_small;
    color: lightpink;
  }
  .icon-not-complete {
    background: var(--app-background-color);
    font-size: $icon_font_size_small;
    color: lightyellow;
  }
}

// --- archive ---

.archive-icon {
  font-size: $icon_font_size_large;
  color: var(--app-color);
  background: var(--app-background-color);
}

// --- contact ---

.contact-icon {
  font-size: $icon_font_size_large;
  color: var(--app-color);
  background: var(--app-background-color);
}

.contact-grid {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;
	font-size: $text_font_size_tiny;
  
  ion-row:first-child {
    // background-color:  #2dd36f;
    font-weight: bold;
    color: white;
    background-color: var(--app-background-color);
    font-size: $text_font_size_tiny;
  }
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
}

// --- util ---

.alert-small {
// --background: var(--url-ion-item) top / 100%;
  --height: 400px;
//   --height: 500px;
  .alert-wrapper {
    min-width: 350px !important;
//  min-width: 500px !important;
    .alert-button:first-child {
      color: grey;
    }
    .alert-head {
      // header styling here eg. background
      margin-top: 10px;
      margin-bottom: 10px;
      h2 {
        color: white;
        background-color: var(--app-background-color);
        // font-weight: bold;
        font-size: $text_font_size_medium;
      }
    }
    .alert-button-group {
      justify-content: center;
    }
    .alert-button:nth-child(1){
      // color: red;
      color: grey;
    }
    .alert-button:nth-child(2){
      // color: blue;
      color: grey;
    }
  }
}

.toast {
    --height: 100px;
    background: var(--app-background-color);
    color: white;
    font-size: $text_font_size_small;

    // .toast-wrapper {
    //   min-width: 350px !important;
    //   .toast-button:first-child {
    //     color: grey;
    //   }
    //   .toast-head {
    //     h2 {
    //       color: white;
    //       background-color: var(--app-background-color);
    //       font-size: 18px;
    //     }
    //   }
    //   .toast-button-group {
    //     justify-content: center;
    //   }
    //   .toast-button:nth-child(1){
    //     // color: red;
    //     color: var(--app-background-color);
    //   }
    //   .toast-button:nth-child(2){
    //     // color: blue;
    //     color: grey;
    //   }
    // }
}

// --- card ---

.card-header{
  background: var(--app-background-color);
  color: white;
  font-size: $text_font_size_medium;
  height:26px;
	margin-top: 10px;
	margin-bottom: 10px;
  position: relative; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.card-label{
  font-weight: bold;
  font-size: $text_font_size_small;
}

.card-input{
	margin-top: 8px;
	border: solid 1px grey;
	margin-bottom: 8px;
  font-size: $text_font_size_small;
}

.card-textarea{
	margin-top: 8px;
	border: solid 1px grey;
	margin-bottom: 8px;
  font-size: $text_font_size_small;
}

.card-select{
	margin-top: 8px;
  font-size: $text_font_size_small;
}

.card-select-1{
	margin-top: 8px;
	margin-bottom: 8px;
  font-size: $text_font_size_small;
}

// --- modal ---

.child-modal {
  align-items: center;
  justify-content: center;
  --min-height: 80%; 
  --min-width: 50%;
  --max-height: 80%; 
  --max-width: 50%;
}
