<ion-content [fullscreen]="true">

<div id="book">
	<div class="flip-book">

<!-- title -->
		<div class="page page-cover page-cover-top" data-density="hard">
			<div class="page-content">
				<h2 class="page-header-cover">{{ 'HOME_FAMILY_TREE' | translate }}</h2>
				<div class="page-list">
					<ul class="list">
						<li><span class="page-span-cover"><b>{{info.name}}</b></span></li>
						<li><span class="page-span-cover"><b>{{info.location}}</b></span></li>
					</ul>
				</div>
				<div class="page-footer"><u><i></i></u></div>
			</div>
		</div>

<!-- content -->
		<div class="page page-cover page-cover-top" data-density="hard">
			
		</div>

<!-- pha_nhap, pha_ky, pha_he, pha_do, ngoai_pha, phu_khao -->

		<div *ngFor="let key of pageKeys; index as iKey; ">

			<div *ngFor="let page of pageData[key]; index as i;">
				<div class="page" data-density="hard">
					<div class="page-content">
						<h1 class="page-header">{{page.titleText}}</h1>
						<div class="w3-container page-text scroll">
							<div *ngFor="let data of page.htmls; index as j;">
							</div>
						</div>
						<div class="page-footer">{{page.index-1}} - <span class="page-span" (click)="toPage('muc_luc')"><u><i>ML</i></u></span></div>
					</div>
				</div>
			</div>
			
		</div>

<!-- contact -->
			<div class="page page-cover page-cover-top" data-density="hard">
				<div class="page-content">
					<h2 class="page-header-cover-small">{{ 'HOME_END' | translate }}</h2>
					<div class="page-list">
						<ul class="list">
							<li><span class="page-span"><i>{{ 'VERSION' | translate }}: {{version}}</i></span></li>
							<li><span class="page-span"><i>{{ 'HOME_UPDATE' | translate }}</i></span></li>
							<li><span class="page-span"><i>{{info.admin_name}}</i></span></li>
							<li><span class="page-span"><i>({{info.admin_email}})</i></span></li>
						</ul>
					</div>
					<div class="page-footer"><span class="page-span" (click)="toPage('muc_luc')"><u><i>ML</i></u></span></div>
				</div>
			</div>

	</div>
</div>

</ion-content>
