<ion-content [fullscreen]="true">

<div id="book">
	<div class="flip-book">

<!-- title -->
		<div class="page page-cover page-cover-top" data-density="hard">
			<div class="page-content">
				<h2 class="page-header-cover">{{ 'HOME_FAMILY_TREE' | translate }}</h2>
				<div class="page-list">
					<ul class="list">
						<li><span class="page-span-cover"><b>{{info.name}}</b></span></li>
						<li><span class="page-span-cover"><b>{{info.location}}</b></span></li>
					</ul>
				</div>
				<div class="page-footer"><u><i></i></u></div>
			</div>
		</div>

<!-- content -->
		<div class="page page-cover page-cover-top" data-density="hard">
			<div class="page-content">

				<h2 class="page-header-cover-small">{{ 'HOME_TITLE' | translate }}</h2>
				<div class="page-list">
					<ul class="list">
						<li><span class="page-span" (click)="toPage('pha_nhap')"><u><i>{{ 'HOME_pha_nhap' | translate }}</i></u></span></li>
						<li><span class="page-span" (click)="toPage('pha_ky')"><u><i>{{ 'HOME_pha_ky' | translate }}</i></u></span></li>
						<li><span class="page-span" (click)="toPage('pha_he')"><u><i>{{ 'HOME_pha_he' | translate }}</i></u></span></li>
						<li><span class="page-span" (click)="toPage('pha_do')"><u><i>{{ 'HOME_pha_do' | translate }}</i></u></span></li>
						<li><span class="page-span" (click)="toPage('ngoai_pha')"><u><i>{{ 'HOME_ngoai_pha' | translate }}</i></u></span></li>
						<li><span class="page-span" (click)="toPage('phu_khao')"><u><i>{{ 'HOME_phu_khao' | translate }}</i></u></span></li>
					</ul>
				</div>
				<div class="page-footer"><u><i></i></u></div>
			</div>
		</div>

<!-- pha_nhap, pha_ky, pha_he, pha_do, ngoai_pha, phu_khao -->

		<div *ngFor="let key of pageKeys; index as iKey; ">

			<div *ngFor="let page of pageData[key]; index as i;">
				<div class="page" data-density="hard">
					<div class="page-content">
						<h1 class="page-header">{{page.titleText}}</h1>
						<div class="w3-container page-text scroll">
							<div *ngFor="let data of page.htmls; index as j;">
<!-- NORMAL TEXT -->
								<div *ngIf="data.html">
									<div id="{{key}}_{{i}}_{{j}}"></div>
								</div>

<!-- VIEW POPUP -->
								<div *ngIf="data.popupHtml">
									
									<!-- <div *ngIf="!data.lineTitle" class="home-text-h6 home-popup"> -->
										<!-- <b>{{ data.docTitle }}</b> -->
									<!-- <div *ngIf="!data.lineTitle" class="home-popup">
										<span [innerHtml]="data.lineTitle"></span>
										<span>&nbsp;&nbsp;</span>
										<div class="column">
											<ion-button class="button" fill="clear" (click)="onDocDetail(page, data.docHtml, data.docTitle)">
												<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
											</ion-button>
										</div>
									</div> -->
									<div *ngIf="data.lineTitle" class="home-popup">
										<span [innerHtml]="data.lineTitle"></span>
										<span>&nbsp;&nbsp;</span>
										<div class="column">
											<ion-button class="button" fill="clear" (click)="onDocDetail(page, data.docHtml, data.docTitle)">
												<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
											</ion-button>
										</div>
									</div>
								</div>

<!-- DOWNLOAD DOCUMENT -->
								<div *ngIf="data.downloadDocumentHtml">
									<!-- <div class="home-text-h6 home-popup">
										<b>{{ data.title }}</b> -->
									<div class="home-popup">
										<span [innerHtml]="data.title"></span>
										<span>&nbsp;&nbsp;</span>

										<div class="column">
											<ion-button class="button" fill="clear" (click)="onDocumentDownload(page, data.fileName, data.url)">
												<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
											</ion-button>
										</div>
									</div>
								</div>

<!-- VIEW NODES -->
								<div *ngIf="data.viewNodeHtml">
									<!-- <div class="home-text-h6 home-popup">
										<b>{{ data.viewNodeHtml }}</b> -->
									<div class="home-popup">
										<span [innerHtml]="data.viewNodeHtml"></span>
										<span>&nbsp;&nbsp;</span>

										<div class="column">
											<ion-button class="button" fill="clear" (click)="onPhaHe(page, null)">
												<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
											</ion-button>
										</div>
									</div>
								</div>
<!-- SEARCH NODE -->
								<div *ngIf="data.searchNodeHtml">
									<!-- <div class="home-text-h6 home-popup">
										<b>{{ data.searchNodeHtml }}</b> -->
									<div class="home-popup">
										<span [innerHtml]="data.searchNodeHtml"></span>
										<span>&nbsp;&nbsp;</span>

										<div class="column">
											<ion-button class="button" fill="clear" (click)="onPhaHeSearch(page)">
												<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
											</ion-button>
										</div>
									</div>
								</div>
<!-- VIEW TREE -->
								<div *ngIf="data.viewTreeHtml">
									<!-- <div class="home-text-h6 home-popup">
										<b>{{ data.viewTreeHtml }}</b> -->
									<div class="home-popup">
										<span [innerHtml]="data.viewTreeHtml"></span>
										<span>&nbsp;&nbsp;</span>

										<div class="column">
											<ion-button class="button" fill="clear" (click)="onPhaDo(page, nodes[0].id)">
												<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
											</ion-button>
										</div>
									</div>
								</div>
<!-- VIEW TREE OF NODE -->
								<div *ngIf="data.viewTreeNodeHtml">
									<!-- <div class="home-text-h6 home-popup">
										<b>{{ data.title }}</b> -->
									<div class="home-popup">
										<span [innerHtml]="data.title"></span>
										<span>&nbsp;&nbsp;</span>

										<div class="column">
											<ion-button class="button" fill="clear" (click)="onPhaDo(page, data.nodeid)">
												<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}file-document-minus-outline.svg" class="icon"></ion-icon>
											</ion-button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="page-footer">{{page.index-1}} - <span class="page-span" (click)="toPage('muc_luc')"><u><i>ML</i></u></span></div>
					</div>
				</div>
			</div>
		</div>

<!-- contact -->
			<div class="page page-cover page-cover-top" data-density="hard">
				<div class="page-content">
					<h2 class="page-header-cover-small">{{ 'HOME_END' | translate }}</h2>
					<div class="page-list">
						<ul class="list">
							<li><span class="page-span"><i>{{ 'VERSION' | translate }}: {{version}}</i></span></li>
							<li><span class="page-span"><i>{{ 'HOME_UPDATE' | translate }}</i></span></li>
							<li><span class="page-span"><i>{{info.admin_name}}</i></span></li>
							<li><span class="page-span"><i>({{info.admin_email}})</i></span></li>
						</ul>
					</div>
					<div class="page-footer"><span class="page-span" (click)="toPage('muc_luc')"><u><i>ML</i></u></span></div>
				</div>
			</div>

	</div>
</div>

</ion-content>
