<ion-content [fullscreen]="true">

<div id="book">
	<div class="flip-book">
			<div class="page page-cover page-cover-top" data-density="hard">
				<div class="page-content">
					<h2 class="page-header-cover">{{ 'HOME_TITLE' | translate }}</h2>
					<div class="page-list">
						<ul class="list">
							<li><span class="page-span" (click)="toPage('pha_nhap')"><u><i>{{ 'HOME_pha_nhap' | translate }}</i></u></span></li>
							<li><span class="page-span" (click)="toPage('pha_ky')"><u><i>{{ 'HOME_pha_ky' | translate }}</i></u></span></li>
							<li><span class="page-span" (click)="toPage('pha_he')"><u><i>{{ 'HOME_pha_he' | translate }}</i></u></span></li>
							<li><span class="page-span" (click)="toPage('pha_do')"><u><i>{{ 'HOME_pha_do' | translate }}</i></u></span></li>
							<li><span class="page-span" (click)="toPage('ngoai_pha')"><u><i>{{ 'HOME_ngoai_pha' | translate }}</i></u></span></li>
							<li><span class="page-span" (click)="toPage('phu_khao')"><u><i>{{ 'HOME_phu_khao' | translate }}</i></u></span></li>
						</ul>
					</div>
					<div class="page-footer"><u><i>ML</i></u></div>
				</div>
			</div>

			<div *ngFor="let page of specialPageData.pha_nhap">
				<div class="page">
					<div class="page-content">
						<h2 class="page-header">{{page.titleText}}</h2>
						<div class="w3-container page-text scroll">
							<span [innerHtml]="page.text"></span>
						</div>
						<div class="page-footer">{{page.index}} - <span class="page-span" (click)="toPage('root')"><u><i>ML</i></u></span></div>
					</div>
				</div>
			</div>

			<div *ngFor="let page of specialPageData.pha_ky">
				<div class="page">
					<div class="page-content">
						<h2 class="page-header">{{page.titleText}}</h2>
						<div class="w3-container page-text">
							<span [innerHtml]="page.text"></span>
						</div>
						<div class="page-footer">{{page.index}} - <span class="page-span" (click)="toPage('root')"><u><i>ML</i></u></span></div>
					</div>
				</div>
			</div>

			<div class="page">
				<div class="page-content">
					<h2 class="page-header">{{pageData.pha_he.titleText}}</h2>
					<div class="w3-container page-text">
						<span [innerHtml]="pageData.pha_he.text"></span>
						<br>
						<ion-item class="header-book">
							<ion-col size="4" class="heading">
							</ion-col>
							<ion-col size="4" class="heading" (click)="onPhaHe()">
								<ion-button class="button" fill="clear">
									<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}account-multiple-outline.svg" class="icon"></ion-icon>
								</ion-button>
								<span class="label">{{ 'HOME_VIEW_NODE' | translate }}</span>
							</ion-col>
							<ion-col size="4" class="heading">
							</ion-col>
						</ion-item>
					</div>
					<div class="page-footer">{{pageData.pha_he.index}} - <span class="page-span" (click)="toPage('root')"><u><i>ML</i></u></span></div>
				</div>
			</div>

			<div class="page">
				<div class="page-content">
					<h2 class="page-header">{{pageData.pha_do.titleText}}</h2>
					<div class="w3-container page-text">
						<!-- <div class="editor">
							<ion-card-header class="section" (click)="onPhaDo()">
								<span class="span">&nbsp;{{ 'HOME_VIEW_TREE' | translate }}</span>
							</ion-card-header>
						</div> -->
						<span [innerHtml]="pageData.pha_do.text"></span>
						<br>
						<ion-item class="header-book">
							<ion-col size="4" class="heading">
							</ion-col>
							<ion-col size="4" class="heading" (click)="onPhaDo()">
								<ion-button class="button" fill="clear">
									<ion-icon slot="icon-only" src="{{FONTS_FOLDER}}family-tree.svg" class="icon"></ion-icon>
								</ion-button>
								<span class="label">{{ 'HOME_VIEW_TREE' | translate }}</span>
							</ion-col>
							<ion-col size="4" class="heading">
							</ion-col>
						</ion-item>
					</div>
					<div class="page-footer">{{pageData.pha_do.index}} - <span class="page-span" (click)="toPage('root')"><u><i>ML</i></u></span></div>
				</div>
			</div>

			<div *ngFor="let page of specialPageData.ngoai_pha">
				<div class="page">
					<div class="page-content">
						<h2 class="page-header">{{page.titleText}}</h2>
						<div class="w3-container page-text">
							<span [innerHtml]="page.text"></span>
						</div>
						<div class="page-footer">{{page.index}} - <span class="page-span" (click)="toPage('root')"><u><i>ML</i></u></span></div>
					</div>
				</div>
			</div>

			<div *ngFor="let page of specialPageData.phu_khao">
				<div class="page">
					<div class="page-content">
						<h2 class="page-header">{{page.titleText}}</h2>
						<div class="w3-container page-text">
							<span [innerHtml]="page.text"></span>
						</div>
						<div class="page-footer">{{page.index}} - <span class="page-span" (click)="toPage('root')"><u><i>ML</i></u></span></div>
					</div>
				</div>
			</div>

			<!-- <div class="page page-cover page-cover-bottom" data-density="hard">
				<div class="page-content">
					<h2 class="page-header-cover">{{pageData.ket_thuc.title}}</h2>
					<div class="page-footer">{{pageData.ket_thuc.index}} - <span class="page-span" (click)="toPage('root')">ML</span></div>
				</div>
			</div> -->

	</div>
</div>

</ion-content>
